<%- include ./aulasHelpers.ejs %>
<div class="contenido">
    <%if(permisoDenegado && permisoDenegado !== null){%>
        <p><%=permisoDenegado%></p>
    <%}else{%>
        <% if (session.menuBar === 'gestion') { %>
            <%- include ./aulaModal%>
        <% } %>
        <h2>Listado de aulas</h2>
        <div id='table_aulas'>
            <% if (session.menuBar === 'gestion') { %>
                <button type="button" style="margin-bottom: 10px;"  class="btn btn-primary" onclick="anadirAula()">Añadir Aula</button>
            <% } %>
            <table class='table'>
                <tr>
                    <th>Aula</th>
                    <th>Capacidad</th>
                    <th>Acción</th>
                </tr>
                <% aulas.forEach(aula => { %>
                    <tr>
                        <td id='aula_<%=aula.identificador%>'><%=aula.identificador%></td>
                        <td id='aula_<%=aula.identificador%>_cupo'><%= aula.cupo || '-' %></td>
                        <td>
                            <button type="button" class="btn btn-default" onclick = "editarAula('<%=aula.identificador%>')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-default" onclick = "eliminarAula('<%=aula.identificador%>')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>  
                        </td>
                    </tr>
                <% }) %>
            </table>
            <% if (session.menuBar === 'gestion') { %>
                <button type="button" style="margin-bottom: 10px;"  class="btn btn-primary" onclick="anadirAula()">Añadir Aula</button>
            <% } %>
        </div>
    <%}%>
</div>
