<body>
<div class="myHeader">
    <p>Consultar Programación:
        <% if ( session && session.pdID){ %>
        <%= session.pdID %>
    <% } %>
    </p>
    <div class="row col-sm" style="margin-left:0px">
         <select id="selectPlan" onchange="cambiarPD(this.value)">
            <option value="none" disabled>Plan...</option>
            <% for(let i=0; i < planEstudios.length; i++) { 
                if (planEstudios[i].nombre !== null){ %>
                <div><option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> </div>
                <%}else {%>
                <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option>
                <%}
            }%>
         </select>
         
    <% if (session.departamentoID && locals.departamentosResponsables && (session.submenu === "Profesores" || session.submenu === "Tribunales")) { %>
     <input id='departamentoResponsable' type="hidden" value="<%=session.departamentoID%>">
         <select id="selectDepartamento"  onchange="cambiarDepart(this.value)">
            <option value='none' disabled>Departamento...</option>
            <% for(let i=0; i < departamentosResponsables.length; i++) { 
                if (departamentosResponsables[i].acronimo !== null){ %>
                    <option value="<%=departamentosResponsables[i].codigo%>" title="<%=departamentosResponsables[i].nombre%>"><%=departamentosResponsables[i].acronimo%></option> 
                    <%}else {%>
                    <option value="<%=departamentosResponsables[i].codigo%>" title="<%=departamentosResponsables[i].nombre%>"><%=departamentosResponsables[i].codigo%></option> 
                    <%}%>   
                <%}%>
         </select>
  <%}%>
  </div>

    <div class="tab">
        <button id='Estado' class="tablinks" onclick="cambiarSubmenu(event, 'Estado')">Estado</button>
        <button id='Roles' class="tablinks" onclick="cambiarSubmenu(event, 'Roles')">Roles</button>
        <button id='Aulas' class="tablinks" onclick="cambiarSubmenu(event, 'Aulas', 'AsignacionAulas')">Aulas</button>
        <button id='Grupos' class="tablinks" onclick="cambiarSubmenu(event, 'Grupos')">Grupos</button>
        <button id='Calendario' class="tablinks" onclick="cambiarSubmenu(event, 'Calendario')">Calendario</button>
        <button id='Profesores' class="tablinks" onclick="cambiarSubmenu(event, 'Profesores')">Profesores</button>
        <button id='Tribunales' class="tablinks" onclick="cambiarSubmenu(event, 'Tribunales')">Tribunales</button>
        <button id='Horarios' class="tablinks" onclick="cambiarSubmenu(event, 'Horarios')">Horarios</button>
        <button id='Actividades' class="tablinks" onclick="cambiarSubmenu(event, 'Actividades')">Actividades</button>
        <button id='Examenes' class="tablinks" onclick="cambiarSubmenu(event, 'Examenes')">Exámenes</button>
        <button id='PDF' class="tablinks" onclick="cambiarSubmenu(event, 'PDF')">PDF</button>
    </div>
    <%-include ./consultarSubmenu.ejs%>
</div>

<script>
function cambiarSubmenu(evt, submenu, subsubmenu) {
    let pAcronimo = document.getElementById("selectPlan").value;
    let departamento = document.getElementById('departamento');
    if(departamento){
        selectDepartamentoValue = departamento.value;
        }
   
    if(submenu === 'Profesores'){
        let url = "<%=CONTEXT%>/consultar/profesores?planID="+pAcronimo+"&departamentoID="+selectDepartamentoValue
        window.location.replace(url);
    }
    if (submenu === 'Tribunales'){
        let url = "<%=CONTEXT%>/consultar/tribunales?planID="+pAcronimo+"&departamentoID="+selectDepartamentoValue
        window.location.replace(url);
    }
    if (submenu === 'Horarios'){
        let url = "<%=CONTEXT%>/consultar/horarios?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Actividades'){
        let url = "<%=CONTEXT%>/consultar/actividades?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'PDF'){
        let url = "<%=CONTEXT%>/consultar/PDF?planID="+pAcronimo
        window.location.replace(url);
    }
        if (submenu === 'Examenes'){
        let url = "<%=CONTEXT%>/consultar/examenes?planID="+pAcronimo
        window.location.replace(url);
    }
        if (submenu === 'Estado'){
        let url = "<%=CONTEXT%>/consultar/estado?planID="+pAcronimo
        window.location.replace(url);
    }
        if(submenu === 'Roles'){
        let url = "<%=CONTEXT%>/consultar/roles?planID="+pAcronimo
        window.location.replace(url);
    }
        if (submenu === 'Grupos'){
        let url = "<%=CONTEXT%>/consultar/grupos?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Calendario'){
        let url = "<%=CONTEXT%>/consultar/calendario?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Aulas'){
        let url = "";
        if (subsubmenu === 'AsignacionAulas'){
            url = "<%=CONTEXT%>/consultar/aulas/asignacion"
        }
        if (subsubmenu === 'Aulas'){
            url = "<%=CONTEXT%>/consultar/aulas"
        }
        window.location.replace(url);
    }

}

</script>
     
</body>
