<body>
<div class="myHeader">
    <p>Cumplimentar Programación:
    <% if ( session && session.pdID){ %>
        <%= session.pdID %>
    <% } %>
    </p>
    <div class="row col-sm"  style="margin-left:0px">
        <% if (session.submenu !== "Profesores" || session.subsubmenu !== "CumplimentarProfesores") { %>
         <select id="selectPlan" onchange="cambiarPD(this.value)">
            <option value="none" disabled>Plan...</option>
                <% for(let i=0; i < planEstudios.length; i++) { 
                    if (planEstudios[i].nombre !== null){ %>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> 
                    <%}else {%>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option> 
                    <%}
                }%> 
         </select>
         <%}%>
         

    <%if (session.departamentoID && locals.departamentosResponsables && (session.submenu === "Profesores" || session.submenu === "Tribunales")) { %>
     <input id='departamentoResponsable' type="hidden" value="<%=session.departamentoID%>">
         <select id="selectDepartamento"  onchange="cambiarDepart(this.value)">
            <option value='none' disabled>Depart...</option>
            <% for(let i=0; i < departamentosResponsables.length; i++) { 
                if (departamentosResponsables[i].acronimo !== null){ %>
                    <option value="<%=departamentosResponsables[i].codigo%>" title="<%=departamentosResponsables[i].nombre%>"><%=departamentosResponsables[i].acronimo%></option> 
                    <%}else {%>
                    <option value="<%=departamentosResponsables[i].codigo%>" title="<%=departamentosResponsables[i].nombre%>"><%=departamentosResponsables[i].codigo%></option> 
                <%}%>   
            <%}%>
         </select>
        <%}%>
    </div>
    <div class="tab">   
        <button id='Estado' class="tablinks" onclick="cambiarSubmenu(event, 'Estado')">Estado</button>
        <button id='Calendario' class="tablinks" onclick="cambiarSubmenu(event, 'Calendario')">Calendario</button>
        <button id='Profesores' class="tablinks" onclick="cambiarSubmenu(event, 'Profesores')">Profesores</button>
        <button id='Tribunales' class="tablinks" onclick="cambiarSubmenu(event, 'Tribunales')">Tribunales</button>
        <button id='Horarios' class="tablinks" onclick="cambiarSubmenu(event, 'Horarios')">Horarios</button>
        <button id='Actividades' class="tablinks" onclick="cambiarSubmenu(event, 'Actividades')">Actividades</button>
        <button id='Examenes' class="tablinks" onclick="cambiarSubmenu(event, 'Examenes', 'Examenes')">Exámenes</button>
    </div>
   <%-include ./cumplimentarSubmenu.ejs%>
</div>

<script>
let selectDepartamentoValue;
let selectPlanValue;
function cambiarSubmenu(evt, submenu, subsubmenu) {
    let pAcronimo = document.getElementById("selectPlan").value;
    let departamento = document.getElementById('departamento');
    if(departamento){
        selectDepartamentoValue = departamento.value;
        }
    if(submenu === 'Profesores'){
        let url = "<%=CONTEXT%>/cumplimentar/profesores?planID="+pAcronimo+"&departamentoID="+selectDepartamentoValue
        window.location.replace(url);
    }
    if (submenu === 'Tribunales'){
        let url = "<%=CONTEXT%>/cumplimentar/tribunales?planID="+pAcronimo+"&departamentoID="+selectDepartamentoValue
        window.location.replace(url);
    }
    if (submenu === 'Horarios'){
        let url = "<%=CONTEXT%>/cumplimentar/horarios?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Actividades'){
        let url = "<%=CONTEXT%>/cumplimentar/actividades?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Examenes'){
        let url = '';
        if(subsubmenu === 'Examenes'){
            url = "<%=CONTEXT%>/cumplimentar/examenes?planID="+pAcronimo
        }
        if(subsubmenu === 'Franjas'){
            url = "<%=CONTEXT%>/cumplimentar/examenes/franjas?planID="+pAcronimo
        }
        window.location.replace(url);
    }
    if (submenu === 'Estado'){
        let url = "<%=CONTEXT%>/cumplimentar/estado?planID="+pAcronimo
        window.location.replace(url);
    }
    if (submenu === 'Calendario'){
        let url = "<%=CONTEXT%>/cumplimentar/calendario?planID="+pAcronimo
        window.location.replace(url);
    }



}


</script>
     
</body>





   