<body>
<div class="myHeader">
    <p>Jefatura Estudios <% if ( session && session.pdID && (session.submenu === "Grupos")){ %>
    <%= session.pdID %>
    <%}%></p>
    <%if (session.planID && locals.planEstudios && (session.submenu === "Grupos" || session.submenu === "Planes")) { %>
    <div class="row col-sm"  style="margin-left:0px">
        <div clas="container">
            <select id="selectPlan" onchange="cambiarPD(this.value)">
                <option value="none" disabled>Plan...</option>
                <% for(let i=0; i < planEstudios.length; i++) { 
                    if (planEstudios[i].nombre !== null){ %>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> 
                    <%}else {%>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option> 
                    <%}
                }%>
            </select>
        </div>
    </div>
    <%}else if(session.submenu === "Calendario"){%>
        
        <select id="selectano" onchange="cambiarano()">

                
            
                <option value="<%=ano2%>" selected><%=ano2.substring(2,5)%>/<%= parseInt(ano2.substring(2,5)) + 1%></option> 
                
                <option value="<%=ano1%>" ><%=ano1.substring(2,5)%>/<%= parseInt(ano1.substring(2,5)) + 1%></option> 
                
            
        </select>
        <select id="selectPlanCalendario" onchange="cambiarPlanCalendario()">
            <option value="General" title="General">General</option>
            <% for(let i=0; i < planEstudios.length; i++) { 
                if (planEstudios[i].nombre !== null){ %>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> 
                <%}else {%>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option> 
                <%}
            }%>
        </select>
    <% }%>

    <div class="tab">
        <button id='AbrirCerrar' class="tablinks" onclick="cambiarSubmenu(event, 'AbrirCerrar')">Abrir/Cerrar</button>
        <button id='Calendario' class="tablinks" onclick="cambiarSubmenu(event, 'Calendario')">Calendario</button>
        <button id='Grupos' class="tablinks" onclick="cambiarSubmenu(event, 'Grupos')">Grupos</button>
        <button id='Personal' class="tablinks" onclick="cambiarSubmenu(event, 'Personal')">Personal</button>
        <button id='Roles' class="tablinks" onclick="cambiarSubmenu(event, 'Roles')">Roles</button>
        <button id='Acronimos' class="tablinks" onclick="cambiarSubmenu(event, 'Acronimos')">Acrónimos</button>
        <button id='Planes' class="tablinks" onclick="cambiarSubmenu(event, 'Planes')">Planes</button>
        <button id='Aulas' class="tablinks" onclick="cambiarSubmenu(event, 'Aulas', 'AsignacionAulas')">Aulas</button>
    </div>
    <%-include ./gestionSubmenu.ejs%>
</div>
<script>
let selectPlanValue;
function cambiarSubmenu(evt, submenu, subsubmenu) {
let elementPlan = document.getElementById("selectPlan")
let pAcronimo = 'GITST';
if (elementPlan){
    pAcronimo = document.getElementById("selectPlan").value
}else if (document.getElementById("plan").value){
    pAcronimo = document.getElementById("plan").value
}
if(submenu === 'AbrirCerrar'){
    let url = "<%=CONTEXT%>/gestion/estados"
    window.location.replace(url);
}

if(submenu === 'Personal'){
    let url = "<%=CONTEXT%>/gestion/personal"
    window.location.replace(url);
}

if (submenu === 'Grupos'){
let url = "<%=CONTEXT%>/gestion/grupos?planID="+pAcronimo
window.location.replace(url);
} 
if (submenu === 'Roles'){
let url = "<%=CONTEXT%>/gestion/roles"
window.location.replace(url);
}

if (submenu === 'Acronimos'){
let url = "<%=CONTEXT%>/gestion/acronimos"
window.location.replace(url);
}
if (submenu === 'Calendario'){
let url = "<%=CONTEXT%>/gestion/calendario"
window.location.replace(url);
}
if (submenu === 'Planes'){
let url = "<%=CONTEXT%>/gestion/plan"
window.location.replace(url);
}
if (submenu === 'Aulas'){
let url = "";
if (subsubmenu === 'AsignacionAulas'){
    url = "<%=CONTEXT%>/gestion/aulas/asignacion"
}
if (subsubmenu === 'Aulas'){
    url = "<%=CONTEXT%>/gestion/aulas"
}
window.location.replace(url);
}


}

function cambiarPlanCalendario(){
    let pAcronimo = document.getElementById("selectPlanCalendario").value;
    
    let search = parseQueryString();
    delete search.planID;
    if(pAcronimo !== "General"){

        search.planID = pAcronimo;
    }else{
        
    }
    
    let url = parseStringQuery(search);
    window.location.replace(url);
}

</script>
    
</body>
