<body>
<%- include ../../public/js/funcionesMenu.ejs %>
<div class="myHeader">
    <p>Jefatura Estudios <% if ( session && session.pdID && (session.submenu === "Grupos")){ %>
    <%= session.pdID %>
    <%}%></p>
    <%if (session.planID && locals.planEstudios && (session.submenu === "Grupos" || session.submenu === "Planes")) { %>
    <div class="row col-sm"  style="margin-left:0px">
        <div clas="container">
            <select id="selectPlan" onchange="cambiarPD()">
                <option value="none" disabled>Plan...</option>
                <% for(let i=0; i < planEstudios.length; i++) { 
                    if (planEstudios[i].nombre !== null){ %>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> 
                    <%}else {%>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option> 
                    <%}
                }%>
            </select>
        </div>
    </div>
    <%}else if(session.submenu === "Calendario"){%>
        
        <select id="selectano" onchange="cambiarano()">

                
            
                <option value="<%=ano2%>" selected><%=ano2.substring(2,5)%>/<%= parseInt(ano2.substring(2,5)) + 1%></option> 
                
                <option value="<%=ano1%>" ><%=ano1.substring(2,5)%>/<%= parseInt(ano1.substring(2,5)) + 1%></option> 
                
            
        </select>
        <select id="selectPlanCalendario" onchange="cambiarPlanCalendario()">
            <option value="General" title="General">General</option>
            <% for(let i=0; i < planEstudios.length; i++) { 
                if (planEstudios[i].nombre !== null){ %>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option> 
                <%}else {%>
                    <option value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option> 
                <%}
            }%>
        </select>
    <% }%>

    <div class="tab">
        <button id='AbrirCerrar' class="tablinks" onclick="cambiarSubmenu(event, 'AbrirCerrar')">Abrir/Cerrar</button>
        <button id='Calendario' class="tablinks" onclick="cambiarSubmenu(event, 'Calendario')">Calendario</button>
        <button id='Grupos' class="tablinks" onclick="cambiarSubmenu(event, 'Grupos')">Grupos</button>
        <button id='Personal' class="tablinks" onclick="cambiarSubmenu(event, 'Personal')">Personal</button>
        <button id='Roles' class="tablinks" onclick="cambiarSubmenu(event, 'Roles')">Roles</button>
        <button id='Acronimos' class="tablinks" onclick="cambiarSubmenu(event, 'Acronimos')">Acrónimos</button>
        <button id='Planes' class="tablinks" onclick="cambiarSubmenu(event, 'Planes')">Planes</button>
        <button id='Aulas' class="tablinks" onclick="cambiarSubmenu(event, 'Aulas')">Aulas</button>
    </div>

    <% if (session.planID) { %>
        <input id='plan' type="hidden" value="<%=session.planID%>">
    <%} else {%>
        <input id='plan' type="hidden">
    <%}%>
    <% if (session.submenu) { %>
        <input id='submenu' type="hidden" value="<%=session.submenu%>">
    <%} else {%>
    <input id='submenu' type="hidden">
    <%}%>
    <% if (locals.ano) { %>
        <input id='ano' type="hidden" value="<%=ano%>">
    <%} else {%>
        <input id='ano' type="hidden">
    <%}%>
    <%-include ./gestionSubmenu.ejs%>
</div>
<script>
let parseQueryString = <%-parseQueryString%>
let parseStringQuery = <%-parseStringQuery%>
let selectPlanValue;
function cambiarSubmenu(evt, submenu) {
let elementPlan = document.getElementById("selectPlan")
let pAcronimo = 'GITST';
if (elementPlan){
    pAcronimo = document.getElementById("selectPlan").value
}else if (document.getElementById("plan").value){
    pAcronimo = document.getElementById("plan").value
}
if(submenu === 'AbrirCerrar'){
    let url = "<%=CONTEXT%>/gestion/estados"
    window.location.replace(url);
}

if(submenu === 'Personal'){
    let url = "<%=CONTEXT%>/gestion/personal"
    window.location.replace(url);
}

if (submenu === 'Grupos'){
let url = "<%=CONTEXT%>/gestion/grupos?planID="+pAcronimo
window.location.replace(url);
} 
if (submenu === 'Roles'){
let url = "<%=CONTEXT%>/gestion/roles"
window.location.replace(url);
}

if (submenu === 'Acronimos'){
let url = "<%=CONTEXT%>/gestion/acronimos"
window.location.replace(url);
}
if (submenu === 'Calendario'){
let url = "<%=CONTEXT%>/gestion/calendario"
window.location.replace(url);
}
if (submenu === 'Planes'){
let url = "<%=CONTEXT%>/gestion/plan"
window.location.replace(url);
}
if (submenu === 'Aulas'){
let url = "<%=CONTEXT%>/gestion/aulas"
window.location.replace(url);
}

}
function cambiarPD(){
let pAcronimo = document.getElementById("selectPlan").value;
let search = parseQueryString();
delete search.pdID;
search.planID = pAcronimo;
let url = parseStringQuery(search);
window.location.replace(url);

}



document.getElementsByTagName('body')[0].onload = actualizarSelectyBarra();
function actualizarSelectyBarra() {
selectPlanValue = document.getElementById('plan').value
let element2 = document.getElementById('selectPlan')
if (element2){
    document.getElementById('selectPlan').value = selectPlanValue;
}     
let submenu = document.getElementById('submenu').value
document.getElementById(submenu).style.display = "block";
document.getElementById(submenu).className += " active";
}


function cambiarPlanCalendario(){
    let pAcronimo = document.getElementById("selectPlanCalendario").value;
    
    let search = parseQueryString();
    delete search.planID;
    if(pAcronimo !== "General"){

        search.planID = pAcronimo;
    }else{
        
    }
    
    let url = parseStringQuery(search);
    window.location.replace(url);
}

</script>
    
</body>
