<%- include ../menus/gestion.ejs %>
<div class ="contenido2">
<%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
  <p><%=permisoDenegado%></p>
<%}else{%>
    <p>Programación docente: <%= session.pdID %></p>
    <% if (locals.estado && locals.estado !== null) { %>
    <!--ocultar plan -->
    <p><%=estado%></p>
    <%}else{%>
    <!--asignacion por grupo -->
    <div>
    <!--actualizar api upm -->
    <hr>
    <%- include ./actualizarApiUpm.ejs%>
    </div>
    <div>
    <!--gestionar estado -->
    <hr>
    <h3> Gestionar Estado ProgDoc
    <button type="button" class="btn btn-default" onclick = "MostrarOcultar('estado')">
    <span id ='button_estado'  class="glyphicon glyphicon-chevron-down"></span> 
    </button> </h3>
    <div class="hidden" id="estado">
    <%- include ../estados/estado.ejs %>
    </div>
    </div>
    <%}%>
<%}%>
<script>
let path = <%-JSON.stringify(path)%>
/**
*para poner siempre el path inicial y no que quede el de otra ruta al darle a guardar
*evitas que si recarga la pagina vuelva a hacer una accion que ya ha hecho
*/
window.history.pushState("", "", path)
function MostrarOcultar(id) {
    let divOcultar = document.getElementById(id);
    let buttonSpan = document.getElementById('button_' + id)
    let clases = divOcultar.className.split(" ");
    let oculto = clases.find(function (obj) { return obj === 'hidden' });
    //si estaba oculto debo quitarlo
    if (oculto) {
        divOcultar.className = "";
        for (let i = 0; i < clases.length; i++) {
            if (clases[i] !== 'hidden') {
                divOcultar.className += " " + clases[i]
            }
        }

        buttonSpan.className = "glyphicon glyphicon-chevron-up"
    }
    //debo ocultarlo
    else {
        divOcultar.className += " hidden"
        buttonSpan.className = "glyphicon glyphicon-chevron-down"

    }

}
</script>