
<script src="<%=CONTEXT%>/js/libraries/moment.js"></script>
<%- include ../../public/js/helpers.ejs %>
<div class="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
    <% switch(estadoExamenes){
      case estadosExamen.abierto : %>
        <p>Los exámenes están siendo cubiertos por el coordinador del plan de estudios</p>
        <% break;
      case estadosExamen.aprobadoCoordinador : %>
        <p>Los exámenes han sido aprobados por el coordinador del plan de estudios</p>
        <% break;
      default:
      break;
    }%> 
  <p><%=permisoDenegado%></p>
  </br>
  <p>Permisos en función del estado</p>
  <ul>
    <li>Abierto: el coordinador del plan de estudios </li>
    <li>Aprobado: nadie tiene permiso </li>
    <li>Incidencia: Jefatura de Estudios</li>
  </ul>
<%}else{%>
        <form id="formulario" autocomplete="off" method="post">
                <div>
                    <% for (let i=0 ; i<franjasExamen.length; i++){%>
                        <h2><%= franjasExamen[i].periodoNombre %></h2>
                        <div id="div_<%=franjasExamen[i].periodo%>">
                            <table class="table" id="table_<%=franjasExamen[i].periodo%>">
                                    <tr>
                                    <th>Hora Inicio</th>
                                    <th>Duración (Minutos)</th>
                                    <th><th>
                                    </tr>
                                <% for (let j=0 ; j<franjasExamen[i].franjas.length; j++){%>
                                <input type='hidden' name='momentaneo' id='<%=franjasExamen[i].franjas[j].identificador%>' value='<%=franjasExamen[i].franjas[j].identificador%>_<%=franjasExamen[i].periodo%>'>
                                <tr id="fila_<%=franjasExamen[i].franjas[j].identificador%>">
                                    <%
                                    let hora= franjasExamen[i].franjas[j].horaInicio ? +franjasExamen[i].franjas[j].horaInicio.split(':')[0] : 8
                                    let minutos = franjasExamen[i].franjas[j].horaInicio ? +franjasExamen[i].franjas[j].horaInicio.split(':')[1]:0
                                    let duracion = franjasExamen[i].franjas[j].duracion ? franjasExamen[i].franjas[j].duracion : 60
                                    if(parseInt(hora,10)<10)hora='0'+hora;
                                    if(parseInt(minutos,10)<10)minutos='0'+minutos;
                                        %>
                                    <td><input type="number" min='0' max='23'   name='<%=franjasExamen[i].franjas[j].identificador%>_hora' placeholder="<%=hora%>" value="<%=hora%>" onChange="formatHora(this); MarcarChangeAsignatura('<%=franjasExamen[i].franjas[j].identificador%>','<%=franjasExamen[i].periodo%>')"><b>:</b>
                                    <input type="number"  min='0' max='59' id='' name='<%=franjasExamen[i].franjas[j].identificador%>_minutos' placeholder="<%=minutos%>" value="<%=minutos%>" onChange="formatHora(this); MarcarChangeAsignatura('<%=franjasExamen[i].franjas[j].identificador%>','<%=franjasExamen[i].periodo%>')">
                                    </td>
                                    <td><input type="number" min='1' max='500' id='' name='<%=franjasExamen[i].franjas[j].identificador%>_duracion' placeholder="<%=duracion%>" value="<%=duracion%>" onChange="MarcarChangeAsignatura('<%=franjasExamen[i].franjas[j].identificador%>','<%=franjasExamen[i].periodo%>')"></td>
                                    <td><button type="button"  class="btn btn-default" onclick="Eliminar('<%=franjasExamen[i].franjas[j].identificador%>', '<%=franjasExamen[i].periodo%>' )">Eliminar</button></td>
                                </tr>
                                <%}%>
                            </table>
                            <button type="button"  class="btn btn-default" onclick="Anadir('<%=franjasExamen[i].periodo%>')">Añadir franja</button>
                        </div>
                    <%}%>
                </div>
            </div>
        </form>
    <%}%>

</div>

<script>
let periodos = <%-JSON.stringify(periodosExamen)%>
let pdID = <%-JSON.stringify(pdID)%>
let confirmarSalirSinGuardar = <%-confirmarSalirSinGuardar%>
let formatHora = <%-formatHora%>
//se utiliza para disparar el evento de onbeforeunload
let activado = true;
let numeroIncrementable = 0;

function Eliminar(rowId, franjaPeriodo){
    let row = document.getElementById("fila_"+rowId);
    row.parentNode.removeChild(row);
    let franjaInput = document.getElementById(rowId);
    franjaInput.name = 'eliminar'
    solapaFranjas(franjaPeriodo)
}

function Eliminar2(rowId, franjaPeriodo){
    let row = document.getElementById("fila_"+rowId);
    row.parentNode.removeChild(row);
    solapaFranjas(franjaPeriodo)
}

function Anadir(franjaPeriodo){
    let table = document.getElementById("table_"+franjaPeriodo);
    let row = table.insertRow()
    row.id='fila_nuevo'+numeroIncrementable
    let cell0 = row.insertCell(0);
    let cell1 = row.insertCell(1);
    let cell2 = row.insertCell(2);
    cell0.innerHTML=`<input type ="number" min='0' max='23' name='nuevo${numeroIncrementable}_hora' placehoder='08' value='08'  onChange="formatHora(this); solapaFranjas('${franjaPeriodo}')"><b>:</b>
                        <input type="number"  min='0' max='59' name='nuevo${numeroIncrementable}_minutos' placeholder="00" value="00"  onChange="formatHora(this); solapaFranjas('${franjaPeriodo}')">`
    cell1.innerHTML=`<input type="number" min='1' max='500' name='nuevo${numeroIncrementable}_duracion' placeholder="120" value="120" onChange="solapaFranjas('${franjaPeriodo}')">`
    cell2.innerHTML=`<button type="button"  class="btn btn-default" onclick="Eliminar2('nuevo${numeroIncrementable}', '${franjaPeriodo}')">Eliminar</button>
                        <input type ="hidden"  name='anadir' id='nuevo${numeroIncrementable}' value='nuevo${numeroIncrementable}_${franjaPeriodo}'>`
    numeroIncrementable++;
    solapaFranjas(franjaPeriodo)
}

function solapaFranjas(franjaPeriodo){
   
    let table = document.getElementById("table_"+franjaPeriodo);
    let horasIniciales=[];
    let horasFinales=[]
    let rowsId=[]
    let rowsSolapan=[]
    for (let i=1; i<table.rows.length; i++){
        let id = table.rows[i].id.split("_")[1]
        rowsId.push(id)
        let hora = document.getElementsByName(id+"_hora")[0].value;
        let minutos = document.getElementsByName(id+"_minutos")[0].value;
        let duracion = +document.getElementsByName(id+"_duracion")[0].value;
        horasIniciales.push(moment.duration(hora+":"+minutos))
        horasFinales.push(moment.duration(hora+":"+minutos).add(duracion,"m"));
    }
    for (let i=0; i<rowsId.length; i++){
        document.getElementById('fila_'+rowsId[i]).classList.remove("solapa");
        for(let j=0; j<rowsId.length; j++){
            //hay dos casos de solapamiento de franjass
            if(i!==j && 
            ((horasFinales[i]-horasIniciales[j]>0 && horasFinales[i]-horasFinales[j]<=0) ||
             (horasIniciales[i]-horasIniciales[j]>=0 && horasIniciales[i]-horasFinales[j]<0)||
             (horasIniciales[i]===horasIniciales[j] && horasFinales[i]===horasFinales[j]))){
                document.getElementById('fila_'+rowsId[i]).classList.add("solapa");
                rowsSolapan.push(rowsId[i])
                
            }
        }
    }
    return rowsSolapan;
}

//marcar los cambios si vuelve a la situacion inicial no lo marca
function MarcarChangeAsignatura(id,franjaPeriodo){
    let inputElement = document.getElementById(id);
    inputElement.name = 'actualizar'
    solapaFranjas(franjaPeriodo)
}


function Volver(cancelarpath){
    activado = false;
    window.location.replace(cancelarpath);
}
function Guardar(nuevopath){
    let rowsSolapan = document.getElementsByClassName('solapa').length;
    if (rowsSolapan > 0){
        alert("Hay solapamientos de franjas horarias, no se puede guardar con solapamientos.");
    }else{
    activado = false;
    let form2 = document.getElementById("formulario");
    form2.setAttribute('action', nuevopath);
    form2.submit();
    }

}


function cambiarSelectExamen(selectExamenespath){
    activado = true;
    window.location.replace(selectExamenespath);
}




$(document).ready(function(){  
  for (i in periodos){
     solapaFranjas(periodos[i])
  }
});

window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuarar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardar(["anadir","actualizar","eliminar"], activado)
  activado = true
    //debo reinicializar esto por si le da a seguir en la página
  document.getElementById('selectPlan') ? document.getElementById('selectPlan').value = selectPlanValue : null;
  document.getElementById('selectDepartamento') ? document.getElementById('selectDepartamento').value = selectDepartamentoValue : null;
  document.getElementById('selectExamenes') ? document.getElementById('selectExamenes').value = 'FranjaExamenes' : null;
  return confirma;
}
</script>