<%- include ../menus/cumplimentar.ejs %>
<%- include ../../public/js/funciones.ejs %>
<div class="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
    <% switch(estadoHorarios){
      case estadosHorario.abierto : %>
        <p>Los horarios están siendo cubiertos por el coordinador del plan de estudios</p>
        <% break;
      case estadosHorario.aprobadoCoordinador : %>
        <p>Los horarios han sido aprobados por el coordinador del plan de estudios</p>
        <% break;
      default:
      break;
    }%> 
  <p><%=permisoDenegado%></p>
  </br>
  <p>Permisos en función del estado</p>
  <ul>
    <li>Abierto: el coordinador del plan de estudios </li>
    <li>Aprobado: nadie tiene permiso </li>
    <li>Incidencia: el jefe de estudios</li>
  </ul>
<%}else{%>
        <form id="formulario" autocomplete="off" action="<%=aprobarpath%>" method="post" >
            <% for (let i=0 ; i<asignacionsHorario.length; i++){%>
                <div>
                    <h2>Curso <%= asignacionsHorario[i].curso %></h2>
                    <% for (let j=0 ; j<asignacionsHorario[i].semestres.length; j++){%>
                        <h3>Semestre <%= asignacionsHorario[i].semestres[j].semestre %></h3>
                        <% for (let k=0 ; k<asignacionsHorario[i].semestres[j].grupos.length; k++){%>
                            <h4><%=asignacionsHorario[i].semestres[j].grupos[k].grupoNombre%> <%=asignacionsHorario[i].semestres[j].grupos[k].nombreItinerario%> <%=asignacionsHorario[i].semestres[j].grupos[k].aula%>
                            <button type="button" class="btn btn-default" onclick = "MostrarOcultar('div_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>')">
                            <span id ='button_div_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>'  class="glyphicon glyphicon-chevron-down"></span> 
                            </button>
                            <button type="button" id='buttonSimplificar_table_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>' class="btn btn-default hidden" onclick = "simplificar('table_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>')">
                            Simplificar 
                            </button>
                            <button type="button" id='buttonRotar_table_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>' class="btn btn-default hidden"
                                onclick="ToggleBotonesRotar('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>')">
                                <span class="glyphicon glyphicon-pencil"></span> 
                            </button>
                            <script>
                                function ToggleBotonesRotar(idHorario) {
                                    let buttonSimplificar = document.getElementById('buttonSimplificar_table_'+idHorario)
                                    let text = buttonSimplificar.innerHTML.trim();

                                    if ($( ".btn-rotar-horario_" + idHorario ).is(":hidden")) {
                                        if (text !== 'Simplificar') {
                                            simplificar('table_' + idHorario);   
                                        }
                                        buttonSimplificar.disabled = true;
                                    } else {
                                        buttonSimplificar.disabled = false;
                                    }

                                    $( ".btn-rotar-horario_" + idHorario ).toggle();
                                }
                            </script>
                            </h4>
                            <div class="hidden" id="div_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>">
                                <% let getAsignacions = function (hora,dia){
                                        let found = asignacionsHorario[i].semestres[j].grupos[k].asignaciones.filter(
                                            //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                                            asign => (asign.horaInicio && (asign.horaInicio.split(':')[0] === ""+l || asign.horaInicio.split(':')[0] === "0"+l) && asign.dia === dia)
                                        );
                                        return found;
                                }%>
                                <% let getNotas = function (){
                                        let found = asignacionsHorario[i].semestres[j].grupos[k].asignaciones.filter(
                                            //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                                            asign => ((asign.nota || typeof asign.nota === 'string'))
                                        );
                                        return found;
                                }%>
                                <table class="table" id="table_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>">
                                    <thead>
                                        <tr>
                                        <th scope="col">Hora</th>
                                        <th scope="col">
                                            <button type="button" class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_L','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_V')">
                                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-="" rule="evenodd"></path>
                                            </svg>
                                            </button>
                                            Lunes
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_L','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_M')">
                                            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                            </svg>
                                            </button>
                                        </th>
                                        <th scope="col">
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_M','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_L')">
                                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-="" rule="evenodd"></path>
                                            </svg>
                                            </button>
                                            Martes
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_M','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_X')">
                                            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                            </svg>
                                            </button>
                                        </th>
                                        <th scope="col">
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_X','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_M')">
                                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-="" rule="evenodd"></path>
                                            </svg>
                                            </button>
                                            Miércoles
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_X','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_J')">
                                            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                            </svg>
                                            </button>
                                        </th>
                                        <th scope="col">
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_J','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_X')">
                                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-="" rule="evenodd"></path>
                                            </svg>
                                            </button>
                                            Jueves
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_J','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_V')">
                                            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                            </svg>
                                            </button>
                                        </th>
                                        <th scope="col">
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_V','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_J')">
                                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-="" rule="evenodd"></path>
                                            </svg>
                                            </button>
                                            Viernes
                                            <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_V','<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_L')">
                                            <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                            </svg>
                                            </button>
                                        </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  let l = 8;
                                            while (l <= 20){ %> 
                                        <tr>
                                        <td scope="col">
                                            <div class="horario-horas-flechas">
                                                <div style="min-width: 78px;">
                                                <%= ""+l+"-"+(l+1) %>
                                                </div>
                                                <div style="grid-area: flechas">
                                                <%if (l == 8) {%>
                                                    <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                        onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l%>', '<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_20')">
                                                    <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"/>
                                                    </svg>
                                                    </button>
                                                <%} else {%>
                                                    <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                        onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l%>', '<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l-1%>')">
                                                    <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"/>
                                                    </svg>
                                                    </button>
                                                <%}%>
                                                <%if (l == 20) {%>
                                                    <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                        onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l%>', '<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_8')">
                                                    <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                                    </svg>
                                                    </button>
                                                <%} else {%>
                                                    <button type="button"  class="btn btn-default btn-rotar-horario_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>" style="display: none;"
                                                        onClick="cambiarPorClase('<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l%>', '<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l+1%>')">
                                                    <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                                    </svg>
                                                    </button>
                                                </div>
                                                <%}%>
                                            </div>
                                        </td>
                                        <% let dias = ['L','M','X','J','V'];
                                            for(let d = 0; d<dias.length; d++){%>
                                                <!-- Cada celda pertenece a las clases grupoCodigo_dia y grupoCodigo_hora para poder seleccionarlas para cambiarlas -->
                                                <td scope="col" class="<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=dias[d]%> <%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=l%>"
                                                    id='horario_<%= asignacionsHorario[i].curso %>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=dias[d]%>_<%=l%>_<%=asignacionsHorario[i].semestres[j].semestre%>'
                                                    onclick="mostrar('horario_<%= asignacionsHorario[i].curso %>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=dias[d]%>_<%=l%>_<%=asignacionsHorario[i].semestres[j].semestre%>')">
                                                <% let found = getAsignacions(l,dias[d])
                                                    if (found.length === 0){%>
                                                        <span>-</span>
                                                    <%}
                                                    for (let m=0; m< found.length; m++){
                                                        if(m>0){%>
                                                            <span> / </span>
                                                        <%}%>
                                                        <%if(found[m].asignaturaAcronimo !== null){ %>
                                                            <span title="<%=found[m].asignaturaNombre%> (<%=found[m].asignaturaCodigo%>)"><%=found[m].asignaturaAcronimo%></span>
                                                        <%} else{%>
                                                            <span title="<%=found[m].asignaturaNombre%> (<%=found[m].asignaturaCodigo%>)"><%=found[m].asignaturaNombre%></span>
                                                        <% } %>
                                                        </span>
                                                    <% } %>
                                                </td>
                                        <%}%>
                                        </tr>
                                        <% l++; }%>
                                    </tbody>
                                </table>
                                <div style="border: ridge  2px; padding: 5px;">
                                    <p><b>Notas:</b>
                                        <button type="button" class="btn btn-default" onclick = "anadirNota('nota_<%= asignacionsHorario[i].curso %>_<%=asignacionsHorario[i].semestres[j].semestre%>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>',false, false)">
                                        Añadir Nota
                                        </button>
                                    </p>
                                    
                                    <div id='nota_<%= asignacionsHorario[i].curso %>_<%=asignacionsHorario[i].semestres[j].semestre%>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>'>
                                        <% let foundNotas = getNotas();
                                        for (let n=0; n< foundNotas.length; n++){ %>
                                            <p id='nota_horario_<%= asignacionsHorario[i].curso %>_<%=asignacionsHorario[i].semestres[j].semestre%>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=foundNotas[n].identificador%>'> 
                                            <% if (foundNotas[n].asignaturaAcronimo){ %>
                                                <span title="<%=foundNotas[n].asignaturaNombre%> (<%=foundNotas[n].asignaturaCodigo%>)">(<%=foundNotas[n].asignaturaAcronimo%>)</span>
                                            <%}else{%>
                                                <span title="<%=foundNotas[n].asignaturaNombre%> (<%=foundNotas[n].asignaturaCodigo%>)">(<%=foundNotas[n].asignaturaNombre%>)</span>
                                            <%}%>
                                            <button type="button" class="btn btn-default" onclick = "anadirNota('horario_<%=asignacionsHorario[i].curso%>_<%=asignacionsHorario[i].semestres[j].semestre%>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=foundNotas[n].identificador%>', <%=foundNotas[n].identificador%>, '<%=foundNotas[n].asignaturaIdentificador%>' )">
                                            <span class="glyphicon glyphicon-pencil"></span> 
                                            </button>
                                            <button type="button" class="btn btn-default" onclick = "eliminarNota('horario_<%=asignacionsHorario[i].curso%>_<%=asignacionsHorario[i].semestres[j].semestre%>_<%=asignacionsHorario[i].semestres[j].grupos[k].grupoCodigo%>_<%=foundNotas[n].identificador%>', <%=foundNotas[n].identificador%>)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            </button> 
                                        <span><%=foundNotas[n].nota%></span></p>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        <%}
                    }%>
                </div>

            <%}%>
        </form>
    <%}%>

</div>
<%- include ./horarioNota.ejs %>
<script>

let asignacionsHorario = <%-JSON.stringify(asignacionsHorario)%>;
let formatHoraNumber = <%-formatHoraNumber%>
let confirmarSalirSinGuardarArrays = <%-confirmarSalirSinGuardarArrays%>
//asignaciones de horarios nuevas a añadir
let newAsignacions = [];
//asignaciones de horarios a eliminar
let eliminarAsignacions = [];
//se utiliza para disparar el evento de onbeforeunload
let activado = true;

/**
 * Intercambia los elementos de las dos clases indicadas 
 * (las clases pueden ser dos días o dos horas)
 * @param  {String} clase_1 La primera clase para intercambiar
 * @param  {String} clase_2 La segunda clase para intercambiar
 */
function cambiarPorClase(clase_1, clase_2) {
    // Se guarda una copia de las asignaturas a intercambiar
    asigs1Tmp = $( 'td.' + clase_1 + ' > span').clone();
    asigs2Tmp = $( 'td.' + clase_2 + ' > span').clone();
    
    sustituirClase(clase_1, asigs2Tmp);
    sustituirClase(clase_2, asigs1Tmp);

    function sustituirClase(clase, asigsTmp) {
        $( 'td.' + clase ).each(function( index ) {
        // console.log(this);

        let curso = this.id.split("_")[1];
        let grupo = Number(this.id.split("_")[2]);
        let dia = this.id.split("_")[3];
        let horaInicio = this.id.split("_")[4];
        let semestre = Number(this.id.split("_")[5]);

        let cursoArray = asignacionsHorario.find(function (obj) { return obj.curso === curso});
        let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre});
        let grupoArray = semestreArray.grupos.find(function (obj) { return obj.grupoCodigo === grupo});

        // Asignaturas que dan en ese horario
        let asignaturas = grupoArray.asignaturas;
        
        // Asignaturas que el horario original tiene en esa fecha + hora
        let asignacionesOriginales = grupoArray.asignaciones.filter(function (obj) {
            return obj.dia === dia && obj.horaInicio === formatHoraNumber(horaInicio)+':00:00'
        });

        // Cogemos las asignaturas que vamos a borrar de ese día / hora
        let selectedEliminar = $( this ).find('span').text();
        if (selectedEliminar != '-') {
            selectedEliminar.split('/').forEach((selected) => {
                // Las buscamos en la variable asignaturas
                let asignOld = asignaturas.find(function (obj) { return (obj.nombre === selected || obj.acronimo === selected) });

                if (asignOld) {
                    // Comprobamos si se había guardado para añadirla en esa hora
                    // (es decir, no estaba en ese horario inicialmente; por tanto, aún no está en la base de datos)
                    let asignPendienteAnadir = newAsignacions.find(function (obj) {
                        return (obj.asignaturaId === asignOld.identificador && obj.dia === dia && obj.horaInicio === formatHoraNumber(horaInicio)+':00:00' && obj.grupoId === grupo)
                    });

                    // Comprobamos si estaba originalmente en esa hora
                    let asignaturaActual = asignacionesOriginales.find(function (obj) {
                        return obj.asignaturaIdentificador === asignOld.identificador
                    });

                    // Si aún no estaba guardada en la base de datos, la eliminamos de la variable donde se guardan las asignaturas que queríamos añadir a la BDD
                    if (asignPendienteAnadir) {
                        newAsignacions.splice(newAsignacions.indexOf(asignPendienteAnadir), 1);
                    // Si no, la añadimos a la variable donde se guardan las asignaturas que queremos quitar de la BDD
                    } else if (asignaturaActual) {
                        eliminarAsignacions.push({
                            asignacion: asignaturaActual.identificador,
                            dia: dia,
                            horaInicio: formatHoraNumber(horaInicio)+':00:00',
                            grupoId: grupo
                        });
                    }
                }
            });
        }

        // Cogemos las asignaturas que vamos a añadir en ese día / hora
        let selectedAnadir = asigsTmp.get(index).textContent.trim();
        if (selectedAnadir != '-') {
            selectedAnadir.split('/').forEach((selected) => {
                // Las buscamos en la variable asignaturas
                let asignNew = asignaturas.find(function (obj) { return (obj.nombre === selected || obj.acronimo === selected) });

                if (asignNew) {
                    // Comprobamos si estaba originalmente en esa hora
                    let asignaturaActual = asignacionesOriginales.find(function (obj) {
                        return obj.asignaturaIdentificador === asignNew.identificador
                    });

                    if (asignaturaActual) {
                        // Comprobamos si se había guardado para eliminarla de esa hora
                        // (es decir, estaba en ese horario inicialmente; por tanto, todavía está la base de datos)
                        let asignPendienteEliminar = eliminarAsignacions.find(function (obj) {
                            return (obj.asignacion === asignaturaActual.identificador && obj.dia === dia && obj.horaInicio === formatHoraNumber(horaInicio)+':00:00' && obj.grupoId === grupo)
                        });

                        // Si todavía estaba guardada en la base de datos, la eliminamos de la variable donde se guardan las asignaturas que queríamos quitar de la BDD
                        if (asignPendienteEliminar) {
                            eliminarAsignacions.splice(eliminarAsignacions.indexOf(asignPendienteEliminar), 1);
                        // Si no, la añadimos a la variable donde se guardan las asignaturas que queremos añadir a la BDD
                        } else {
                            newAsignacions.push({
                                asignaturaId: asignNew.identificador,
                                dia: dia,
                                horaInicio: formatHoraNumber(horaInicio)+':00:00',
                                grupoId: grupo
                            });
                        }
                    } else {
                        newAsignacions.push({
                            asignaturaId: asignNew.identificador,
                            dia: dia,
                            horaInicio: formatHoraNumber(horaInicio)+':00:00',
                            grupoId: grupo
                        });
                    }
                }
            });
        }

        // Actualizamos el span con la información de la asignatura y el texto HTML que se presenta
        $( this ).find('span').replaceWith(asigsTmp.get(index));
        });
    }
}

//se ejecuta siempre que se pulsa en una celda
async function mostrar(id){
    //solo dejo un select picker activo a la vez
    if(document.getElementsByClassName("selectpicker").length === 0){ 
        let curso = id.split("_")[1];
        let grupo = Number(id.split("_")[2]);
        let dia = id.split("_")[3];
        let horaInicio = id.split("_")[4];
        let semestre = Number(id.split("_")[5]);
        let cursoArray = asignacionsHorario.find(function (obj) { return obj.curso === curso});
        let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
        let grupoArray = semestreArray.grupos.find(function (obj) { return obj.grupoCodigo === grupo})
        //oldAsignaciones refleja las asignaciones que habia en esa franja al principio en ese grupo
        //tampoco coge las notas ya que las notas tienen hora a null
        let oldAsignaciones = grupoArray.asignaciones.filter(function (obj) {
             return obj.dia === dia && obj.horaInicio === formatHoraNumber(horaInicio)+':00:00'
            });
        //quitar las nuevasAsignacions de esa franja
        newAsignacions = newAsignacions.filter(function (obj) {
            return obj.dia !== dia || obj.horaInicio !== formatHoraNumber(horaInicio)+':00:00' || obj.grupoId !== grupo
        })
        //quitar las eliminarAsignacions de esa franja
        eliminarAsignacions = eliminarAsignacions.filter(function (obj) {
            return obj.dia !== dia || obj.horaInicio !== formatHoraNumber(horaInicio)+':00:00' || obj.grupoId !== grupo
        })
        //asignaturas que dan en ese horario
        let asignaturas = grupoArray.asignaturas;
        //en asignacions se guardan las que deben aparecer seleccionadas
        let asignacions = [];
        let parent = document.getElementById(id);
        let children = document.getElementById(id).children;
        let childrenToBorrar = [];
        for(let i =0; i<children.length; i++){
            if(children[i].tagName === 'SPAN'){
                let text =children[i].innerHTML.trim()
                if (text && text !== '/' && text !==""){
                    asignacions.push(text)
                } 
                childrenToBorrar.push(children[i]);
            }      
        }
        for ( let i=0; i<childrenToBorrar.length; i++){
            parent.removeChild(childrenToBorrar[i]);
        }
        //construir el select para crear el selectpicker
        let div = document.createElement('div');
        let options = '';
        for (let i = 0; i<asignaturas.length; i++){
            let s1 = semestre === 1 && (asignaturas[i].semestre === '1S' || asignaturas[i].semestre === '1S-2S' || asignaturas[i].semestre === 'A' || asignaturas[i].semestre === 'I')
            let s2 = semestre === 2 && (asignaturas[i].semestre === '2S' || asignaturas[i].semestre === '1S-2S' || asignaturas[i].semestre === 'A' || asignaturas[i].semestre === 'I')
            if (s1 || s2){
            let n = "";
            asignaturas[i].acronimo !== null ? n=asignaturas[i].acronimo : n=asignaturas[i].nombre;
            options+='<option>'+n+'</option>'
            }

        }
        div.innerHTML = '<select name="selValue" id="select_'+id+'" class="selectpicker" title="Nada seleccionado" multiple>'+options+'</select>'
        let nuevo = div.firstChild;
        parent.appendChild(nuevo);
        $("#select_" + id).selectpicker('render');
        $("#select_" + id).selectpicker('val', asignacions);
        $("#select_" + id).selectpicker('toggle');
                
        $("#select_" + id).on('hidden.bs.select', function (sel) {
            //necesario en algunos navegadores
            $("#select_" + id).selectpicker('toggle');
            let div2 = document.createElement('div');
            let selected = getSelectValues(nuevo); // devuelve un array cono los seleccionados
            //borrar el select y el dropdown que lo capsula
            multiselectElement = document.getElementById(id).children[0]
            multiselectElement.parentNode.removeChild(multiselectElement)
           //pintar en la casilla las nuevas asignaciones '-' en caso de que no hayan nuevas
           //actualizar newAsignacions y eliminarAsignacions 
            if (selected.length === 0){
                div2.innerHTML ="<span>-</span>"
                parent.appendChild(div2.firstChild)
            }
            //actualizar newAsignacions y pintar casilla
            for (let l=0; l<selected.length; l++){
                if(l>0){
                    div2.innerHTML = "<span>/</span>"
                    parent.appendChild(div2.firstChild);
                }
                //asignaturas seleccionadas
                let asign = asignaturas.find(function (obj) { return (obj.nombre === selected[l] || obj.acronimo === selected[l]) })
                let oldAsignacion;
                if (asign){
                    div2.innerHTML = "<span title='"+asign.nombre+"("+asign.codigo+")'  id='p_horario_"+curso+"_"+grupo+"_"+dia+"_"+horaInicio+"_"+l+"'>"+selected[l]+"</span>"
                    parent.appendChild(div2.firstChild);
                    oldAsignacion = oldAsignaciones.find(function(obj) {return obj.asignaturaIdentificador === asign.identificador;});
                }
                //se añadirán las que no estaban en oldAsignaciones.
                if (asign && !oldAsignacion){
                    newAsignacions.push({
                        asignaturaId: asign.identificador,
                        dia: dia,
                        horaInicio: formatHoraNumber(horaInicio)+':00:00',
                        grupoId: grupo
                    })
                }
            }
            //actualizar eliminarAsignacions
            //se añadiran las que estaban en oldAsignacions y no estan en newAsignacions
            for (let j=0; j<oldAsignaciones.length; j++){
                //asignacion seleccionada
                let asign = selected.find(function (obj) { return (obj === oldAsignaciones[j].asignaturaAcronimo || obj === oldAsignaciones[j].asignaturaNombre)})
                if (!asign){
                    eliminarAsignacions.push({
                        asignacion: oldAsignaciones[j].identificador,
                        dia: dia,
                        horaInicio: formatHoraNumber(horaInicio)+':00:00',
                        grupoId: grupo
                    })   
                }
            }
            });
    }


}


function getSelectValues(select) {
  let result = [];
  let options = select && select.options;
  let opt;

  for (let i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}

function MostrarOcultar(id){
    let table = document.getElementById(id);
    let buttonSpan = document.getElementById('button_'+id)
    let buttonSimplificar = document.getElementById('buttonSimplificar_table_'+id.split("_")[1])
    let buttonRotar = document.getElementById('buttonRotar_table_'+id.split("_")[1])
    let clases = table.className.split(" ");
    let clases2 = buttonSimplificar.className.split(" ");
    let clases3 = buttonRotar.className.split(" ");
    let oculto = clases.find(function (obj) { return obj === 'hidden'});
    //si estaba oculto debo quitarlo
    if (oculto){
        table.className = "";
        buttonSimplificar.className = "";
        buttonRotar.className = "";
        for (let i =0; i<clases.length; i++){
            if (clases[i] !== 'hidden'){
                table.className += " " +clases[i]
            }    
        }
        for (let i =0; i<clases2.length; i++){
            if (clases2[i] !== 'hidden'){
                buttonSimplificar.className += " " + clases2[i]
            }    
        }
        for (let i =0; i<clases3.length; i++){
            if (clases3[i] !== 'hidden'){
                buttonRotar.className += " " + clases3[i]
            }    
        }
        
        buttonSpan.className = "glyphicon glyphicon-chevron-up"
    }
    //debo ocultarlo
    else{
        table.className += " hidden"
        buttonSimplificar.className += " hidden"
        buttonRotar.className += " hidden"
        buttonSpan.className = "glyphicon glyphicon-chevron-down"

    }

}

function simplificar(id){
    let table = document.getElementById(id);
    let cellsOfRow="";
    let found=false;
    let buttonSimplificar = document.getElementById('buttonSimplificar_'+id)
    let text = buttonSimplificar.innerHTML.trim();
    if(text === 'Simplificar'){
        // Recorremos todas las filas con contenido de la tabla
        for (let i = 1; i < table.rows.length; i++){
            cellsOfRow = table.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas fe la fila que me interesan
            for (let j = 1; j < cellsOfRow.length && !found; j++){   
                if (!cellsOfRow[j].innerHTML.includes("<span>-</span>")){
                    found = true;
                }
            }
            if(!found){
                table.rows[i].className = 'hidden';
            } 
        }
        buttonSimplificar.innerHTML = 'Expandir'
    }else{
        // Recorremos todas las filas de la tabla y las hacemos visibles
        for (let i = 1; i < table.rows.length; i++){
            cellsOfRow = table.rows[i].getElementsByTagName('td');
            table.rows[i].className = '';  
        }
        buttonSimplificar.innerHTML = 'Simplificar'
    }
}


function Volver(cancelarpath){
    activado = false
    window.location.replace(cancelarpath);
}
function Guardar(nuevopath){
    activado = false;
    $.ajax({
        url: nuevopath,
        method: 'POST',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({
            newAsignacions,
            eliminarAsignacions
        })
    }).done(function (res) {
        if (!res.success) {
            alert(res.msg)
        } else {
            window.scrollTo(0,0);
            location.reload();
        }
    })
    .fail(function (jqXHR, textStatus, errorThrown) {
        alert("Ha habido un error:" + jqXHR.status + " " + textStatus)
    })

}

function Enviar(aprobarpath){
    activado = false;
    if (confirmarSalirSinGuardarArrays([newAsignacions, eliminarAsignacions], true)){
        alert("Quedan horarios sin guardar. Debe guardar o cancelar las últimas modificaciones antes de aprobar los horarios")
    }
    else if (confirm("Una vez aprobados los horarios no podrá modificarlos ¿Seguro que quiere aprobarlos?")){
        let form2 = document.getElementById("formulario");
        form2.setAttribute('action', aprobarpath);
        form2.submit();
    }else{
        return false;
        activado = true;
    }
    activado = true;
}


window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuardar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardarArrays([newAsignacions, eliminarAsignacions], activado)
  activado = true
  //reinicializar selects por si selecciona seguir en la página
  document.getElementById('selectPlan') ? document.getElementById('selectPlan').value = selectPlanValue : null;
  document.getElementById('selectDepartamento') ? document.getElementById('selectDepartamento').value = selectDepartamentoValue : null;
  return confirma;

}
</script>