<script src="<%=contextPath%>/js/autocomplete.js"></script>
<%- include ../menus/cumplimentar.ejs %>
<%- include ../../public/js/funciones.ejs %>
<div id="hermanoNuevoProfesorForm" class="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
  <% switch(estadoTribunales[departamentoID]){
      case estadosTribunal.abierto : %>
        <p>Los tribunales están siendo cubiertos por el responsable docente del departamento del plan de estudios</p>
        <% break;
      case estadosTribunal.aprobadoResponsable: %>
        <p>Los tribunales deben ser aprobados por el director del departamento</p>
        <% break;
      case estadosTribunal.aprobadoDirector: %>
        <p>Los tribunales ya han sido aprobados por el director del departamento</p>
        <% break;
      default:
      break;
  }%> 
  <p><%=permisoDenegado%></p>
  </br>  
  <p>Permisos en función del estado</p>
  <ul>
    <li>Abierto: el responsable docente del departamento en el plan </li>
    <li>Aprobado por el responsable docente: el director del departamento </li>
    <li>Aprobado: nadie tiene permiso</li>
    <li>Incidencia: el jefe de estudios</li>
  </ul>
<%}else{
  if(estadoTribunales[departamentoID] === estadosTribunal.abierto || estadoProgDoc === estadosProgDoc.incidencia) {%>
<form id="formulario" autocomplete="off" action="<%= aprobarpath %>" method="post">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Asignatura</th>
      <th scope="col">Presidente</th>
      <th scope="col">Vocal</th>
      <th scope="col">Secretario</th>
      <th scope="col">Suplente</th>
    </tr>
  </thead>
  <tbody>
  <% for(var i=0; i < tribunales.length; i++) { %>
    <tr>
      <th scope="row">
        <% if (tribunales[i].acronimo !== null){ %>
        <span title="<%=tribunales[i].nombre%> (<%=tribunales[i].codigo%>)"><%= tribunales[i].acronimo%></span>
        <% }else{%>
        <span title="<%=tribunales[i].nombre%> (<%=tribunales[i].codigo%>)"><%= tribunales[i].nombre%></span>
        <% } %> 
      </th>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Presidente' onclick="mostrar('tribunal_<%=tribunales[i].tribunalId%>_Presidente')">
      <% if(tribunales[i].presidenteNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Presidente'><%= tribunales[i].presidenteNombre%></p>
      <input id='tribunal_<%=tribunales[i].tribunalId%>_Presidente' type="hidden" name="noCambio" value="<%=tribunales[i].tribunalId%>_<%= tribunales[i].presidenteNombre %>_Presidente" placeholder="<%= tribunales[i].presidenteNombre %>" >
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Presidente'>-</p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Presidente" type="hidden" name="noCambio" placeholder="Seleccione profesor" >
      <% } %> 
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Vocal' onclick="mostrar('tribunal_<%=tribunales[i].tribunalId%>_Vocal')">
      <% if(tribunales[i].vocalNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Vocal'><%= tribunales[i].vocalNombre%></p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Vocal" type="hidden" name="noCambio" value="<%=tribunales[i].tribunalId%>_<%= tribunales[i].vocalNombre %>_Vocal" placeholder="<%= tribunales[i].vocalNombre %>" >
      <% } else{ %>
       <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Vocal'>-</p>
        <input id="tribunal_<%=tribunales[i].tribunalId%>_Vocal" type="hidden" name="noCambio" placeholder="Seleccione profesor" >
      <% } %>
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Secretario' onclick="mostrar('tribunal_<%=tribunales[i].tribunalId%>_Secretario')">
      <% if(tribunales[i].secretarioNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Secretario'><%= tribunales[i].secretarioNombre%></p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Secretario" type="hidden" name="noCambio" value="<%=tribunales[i].tribunalId%>_<%=tribunales[i].secretarioNombre %>_Secretario" placeholder="<%= tribunales[i].secretarioNombre %>" >
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Secretario'>-</p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Secretario" type="hidden" name="noCambio" placeholder="Seleccione profesor" >
      <% } %>
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Suplente' onclick="mostrar('tribunal_<%=tribunales[i].tribunalId%>_Suplente')">
      <% if(tribunales[i].suplenteNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Suplente'><%= tribunales[i].suplenteNombre%></p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Suplente" type="hidden" name="noCambio" value="<%=tribunales[i].tribunalId%>_<%=tribunales[i].suplenteNombre %>_Suplente" placeholder="<%= tribunales[i].suplenteNombre %>" >
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Suplente'>-</p>
      <input id="tribunal_<%=tribunales[i].tribunalId%>_Suplente" type="hidden" name="noCambio" placeholder="Seleccione profesor" >
      <% } %>
      </td>
    </tr>
<% } %> 
  </tbody>
</table>

</form>
<% }else{ %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Asignatura</th>
      <th scope="col">Presidente</th>
      <th scope="col">Vocal</th>
      <th scope="col">Secretario</th>
      <th scope="col">Suplente</th>
    </tr>
  </thead>
  <tbody>
  <% for(var i=0; i < tribunales.length; i++) { %>
    <tr>
      <th scope="row">
          <%if (tribunales[i].acronimo !== null){ %>
            <%= tribunales[i].acronimo%>
          <% }else{%>
          <%= tribunales[i].nombre%>
          <% } %> 
      </th>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Presidente'>
      <% if(tribunales[i].presidenteNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Presidente'><%= tribunales[i].presidenteNombre%></p>
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Presidente'>-</p>
      <% } %> 
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Vocal'>
      <% if(tribunales[i].vocalNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Vocal'><%= tribunales[i].vocalNombre%></p>
      <% } else{ %>
       <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Vocal'>-</p>
      <% } %>
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Secretario'>
      <% if(tribunales[i].secretarioNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Secretario'><%= tribunales[i].secretarioNombre%></p>
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Secretario'>-</p>
      <% } %>
      </td>
      <td id='td_tribunal_<%=tribunales[i].tribunalId%>_Suplente'>
      <% if(tribunales[i].suplenteNombre) { %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Suplente'><%= tribunales[i].suplenteNombre%></p>
      <% } else{ %>
      <p id='p_tribunal_<%=tribunales[i].tribunalId%>_Suplente'>-</p>
      <% } %>
      </td>
    </tr>
<% } %> 
  </tbody>
</table>
<% } %>
    <%}%>
</div>
<%- include ../asignacionProfesores/nuevoProfesor.ejs %>
<script>
let form = document.getElementById("formulario");
let estado = <%-JSON.stringify(estado)%>
let existe = <%-JSON.stringify(existe)%>
let profesores = <%-JSON.stringify(profesores)%>
let profesores2 ="";
let confirmarSalirSinGuardar = <%-confirmarSalirSinGuardar%>
//se utiliza para disparar el evento de onbeforeunload
let activado = true;
if(estado === null && existe === null){
  profesores2 = quitAcents(profesores)
  //document.getElementsByTagName('body')[0].onload = changeSelect();
}
function mostrar(id){
  let celda = document.getElementById("td_"+id);
  //debo hacer lo de p y p2 pq al aceptar en el buscador me vuelve a entrar aqui uso el id de p como flag 
  let p = document.getElementById("p_"+id);
  let p2 = document.getElementById("p_"+id+"_provisional")
  let input = document.getElementById(id)
  let nameInput = input.getAttribute('name');
  if (p){
    //creo el div para encapsular la busqueda
    let div = document.createElement('div');
    div.innerHTML = '<div class="autocomplete" style="width:500px;"></div>'
    let nuevo = div.firstChild;
    celda.appendChild(nuevo)
    nuevo.appendChild(input)
    celda.removeChild(p);
    let nuevoValor = input.getAttribute('placeholder')
    if (input.getAttribute('value')){
      input.setAttribute('value', '' )
    }
    input.setAttribute('type', 'text')
    autocomplete(input, profesores, profesores2, 'tribunales');
  }else if(p2){
    p2.setAttribute('id', "p_"+id);
  }
  input.focus();
}
function Volver(cancelarpath){
  activado = false;
  window.location.replace(cancelarpath);
}
function Guardar(nuevopath){
  activado = false
  let form2 = document.getElementById("formulario");
  form2.setAttribute('action', nuevopath);
  form2.submit();
}

function Enviar(aprobarpath){
  activado = false;
  if (confirm("Una vez aprobada la asignación de tribunales no podrá modificarla  ¿Seguro que quiere aprobarla?")){
    let form2 = document.getElementById("formulario");
    form2.setAttribute('action', aprobarpath);
    form2.submit();
}else{
    activado = true
    return false;
  }
}


function Decidir(decision){
  activado = false;
  let dec = document.getElementById('decision');
  dec.setAttribute('value', decision)
  if(confirm("Esta acción no se podrá deshacer. ¿Está seguro de que quiere continuar?")){
    document.getElementById("formDecision").submit();
  }else{
    activado = true;
    return false;
  }
}
window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuarar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardar(["actualizar"], activado)
  activado = true
   //debo reinicializar esto por si le da a seguir en la página
  document.getElementById('selectPlan') ? document.getElementById('selectPlan').value = selectPlanValue : null;
  document.getElementById('selectDepartamento') ? document.getElementById('selectDepartamento').value = selectDepartamentoValue : null;
  return confirma;
}
</script>
