<script src="<%=contextPath%>/js/funciones.js"></script>
<%- include gestion.ejs %>
<div class ="contenido2">
<%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
  <p><%=permisoDenegado%></p>
<%}else{%>
        <form id="asignacionCumplimentarForm" autocomplete="off" action="<%= nuevopath %>" method="post" onsubmit="return Enviar()" >
            <div class="myHeader2 sticky">
                <input type='submit' value='Guardar'>
            </div>
            <h2>Departamentos
            <button type="button" class="btn btn-default" onclick = "MostrarOcultar('table_departamentos')">
            <span id ='button_table_departamentos'  class="glyphicon glyphicon-plus"></span> 
            </button></h2>
            <div class="hidden" id="table_departamentos">
                <table class="table" id="tb_departamentos">
                    <thead>
                        <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acrónimo</th>
                        </tr>
                    </thead>
                    <tbody id='body_tb_departamentos'>
                    <% for (let i=0 ; i<departamentos.length; i++){%>
                        <input type="hidden" name='momentaneo' id='departamento_<%=departamentos[i].codigo%>' value ='departamento_<%=departamentos[i].codigo%>'>
                            <tr>
                            <td>
                            <%=departamentos[i]["codigo"]%>
                            </td>
                            <td>
                            <%=departamentos[i]["nombre"]%>
                            </td>
                            <td>
                            <% let acronimo = "-"
                            if (departamentos[i]["acronimo"] !== null && departamentos[i]["acronimo"].trim() !== "") {
                            acronimo = departamentos[i]["acronimo"]
                            }%>
                            <input type="text" maxlength="5" placeholder="<%=acronimo%>" value="<%=acronimo%>" name='departamento_<%=departamentos[i].codigo%>' onchange="MarcarChangeDep('departamento_<%=departamentos[i].codigo%>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                            </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
            <h2 style="display:inline;">Plan</h2>
            <select id="selectPlan" onchange="cambiarPD()">
                <% for(let i=0; i < planEstudios.length; i++) { 
                    if (planEstudios[i].nombre !== null && (planID !== planEstudios[i].codigo)){ %>
                        <option id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option>
                    <% }else if (planEstudios[i].nombre !== null && (planID === planEstudios[i].codigo)){ %>
                        <option id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)" selected><%=planEstudios[i].nombre%></option>  
                    <%}else if (planEstudios[i].nombre === null && (planID !== planEstudios[i].codigo)) {%>
                        <option  id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option>
                    <%}else{%>
                        <option  id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>"  title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"selected><%=planEstudios[i].codigo%></option>
                    <%}             
                }%>
            </select>
                <input type="hidden" name='momentaneo' id='plan_<%=planID%>' value ='plan_<%=planID%>'>
                <table class="table" id="tb_<%=planID%>">
                    <thead>
                        <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acrónimo</th>
                        </tr>
                    </thead>
                    <tbody id='body_tb_<%planID%>'>
                        <%let plan = planEstudios.find(function (obj) { return obj.codigo === planID; });
                        if(plan){ %>
                            <tr>
                                <td>
                                <%=plan["codigo"]%>
                                </td>
                                <td>
                                <%=plan["nombreCompleto"]%>
                                </td>
                                <td>
                                <% let acronimo = "-"
                                if (plan["nombre"] !== null && plan["nombre"].trim() !== "") {
                                acronimo = plan["nombre"]
                                }%>
                                <input type="text" maxlength="8" placeholder="<%=acronimo%>" value="<%=acronimo%>" name='plan_<%=planID%>' onchange="MarcarChangePlan('plan_<%=planID%>%>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                </td>
                            </tr>

                        <% } %>     
                    </tbody>
                </table>
            <% if (locals.estado && locals.estado !== null) { %>
                <p><%=estado%></p>
            <%}else{%>
                <h2>Asignaturas</h2>
                <% for (let curso in asignaturas ){%>
                    <div>
                        <h3>Curso <%= curso %>
                        <button type="button" class="btn btn-default" onclick = "MostrarOcultar('table_<%= curso %>')">
                        <span id ='button_table_<%=curso%>'  class="glyphicon glyphicon-plus"></span> 
                        </button>
                        </h3>
                            <div class="hidden" id="table_<%= curso %>">
                                <table class="table" id="tb_<%= curso %>">
                                    <thead>
                                        <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Acrónimo</th>
                                        </tr>
                                    </thead>
                                    <tbody id='body_tb_<%= curso %>'>
                                    <% for (let j=0 ; j<asignaturas[curso].length; j++){%>
                                        <input type="hidden" name='momentaneo' id='asignatura_<%=curso%>_<%=asignaturas[curso][j]["identificador"]%>' value ='asignatura_<%=curso%>_<%=asignaturas[curso][j]["identificador"]%>'>
                                            <tr>
                                            <td>
                                            <%=asignaturas[curso][j]["codigo"]%>
                                            </td>
                                            <td>
                                            <%=asignaturas[curso][j]["nombre"]%>
                                            </td>
                                            <td>
                                            <% let acronimo = "-"
                                            if (asignaturas[curso][j]["acronimo"] !== null && asignaturas[curso][j]["acronimo"].trim() !== "") {
                                            acronimo = asignaturas[curso][j]["acronimo"]
                                            }%>
                                            <input type="text" maxlength="5" placeholder="<%=acronimo%>" value="<%=acronimo%>" name='asignatura_<%=curso%>_<%=asignaturas[curso][j]["identificador"]%>' onchange="MarcarChangeAsignatura('asignatura_<%=curso%>_<%=asignaturas[curso][j].identificador%>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                <%}%> 
            <%}%>
        </form>
    <%}%>

</div>

<script>

//el multiselect del layout funciona con jquery
let asignaturas = <%-JSON.stringify(asignaturas)%>;
let planEstudios = <%-JSON.stringify(planEstudios)%>;
let departamentos = <%-JSON.stringify(departamentos)%>;
//se utiliza para disparar el evento de onbeforeunload
let activado = true;

function MostrarOcultar(id){
    let divCurso = document.getElementById(id);
    let buttonSpan = document.getElementById('button_'+id)
    let clases = divCurso.className.split(" ");
    let oculto = clases.find(function (obj) { return obj === 'hidden'});
    //si estaba oculto debo quitarlo
    if (oculto){
        divCurso.className = "";        
        buttonSpan.className = "glyphicon glyphicon-minus"
    }
    //debo ocultarlo
    else{
        divCurso.className += " hidden"
        buttonSpan.className = "glyphicon glyphicon-plus"

    }

}

//marcar los cambios si vuelve a la situacion inicial no lo marca
function MarcarChangeAsignatura(id){
    let identificador = id.split("_")[2]
    let curso = Number(id.split("_")[1])
    let asignatura = asignaturas[curso].find(function (obj) { return obj.identificador === Number(identificador)});
    let acronimoNuevo = document.getElementsByName("asignatura_"+curso+"_"+identificador)[0].value;
    let inputElement = document.getElementById(id);
    if(acronimoNuevo.trim() === ""){
        acronimoNuevo = document.getElementsByName("asignatura_"+curso+"_"+identificador)[0].placeholder === '-' ? null : document.getElementsByName("asignatura_"+curso+"_"+identificador)[0].placeholder;
    }
    if(asignatura && acronimoNuevo !== asignatura.acronimo){
        inputElement.name = 'actualizar'
    }else{
        inputElement.name = 'momentaneo'
    }
}
//funcion para indicar que ha cambiado el departamento
function MarcarChangePlan(id){
    let codigo = id.split("_")[1]
    let plan = planEstudios.find(function (obj) { return obj.codigo === codigo});
    let acronimoNuevo = document.getElementsByName("plan_"+codigo)[0].value;
    let inputElement = document.getElementById(id);
    if(acronimoNuevo.trim() === ""){
        acronimoNuevo = document.getElementsByName("plan_"+codigo)[0].placeholder === '-' ? null : document.getElementsByName("plan_"+codigo)[0].placeholder;
    }
    if(plan && acronimoNuevo !== plan.nombre){
        inputElement.name = 'actualizar'
    }else{
        inputElement.name = 'momentaneo'
    }
}
//funcion para indicar que ha cambiado el departamento
function MarcarChangeDep(id){
    let codigo = id.split("_")[1]
    let dep = departamentos.find(function (obj) { return obj.codigo === codigo});
    let acronimoNuevo = document.getElementsByName("departamento_"+codigo)[0].value;
    let inputElement = document.getElementById(id);
    if(acronimoNuevo.trim() === ""){
        acronimoNuevo = document.getElementsByName("departamento_"+codigo)[0].placeholder === '-' ? null : document.getElementsByName("departamento_"+codigo)[0].placeholder;
    }
    if(dep && acronimoNuevo !== dep.acronimo){
        inputElement.name = 'actualizar'
    }else{
        inputElement.name = 'momentaneo'
    }
}

function Enviar(){
    activado = false;
    
}

window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuarar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardar(["actualizar"], activado)
  activado = true
  //debo reinicializar esto por si le da a seguir en la página
  document.getElementById('selectPlan') ? document.getElementById('selectPlan').value = selectPlanValue : null;
  document.getElementById('selectDepartamento') ? document.getElementById('selectDepartamento').value = selectDepartamentoValue : null;
  return confirma;
}

</script>