<form id="actualizarApiUpmForm" autocomplete="off" action="<%= actualizarpath %>" method="post" >
      <h3 style="display:inline;">Actualizar asignaturas API UPM</h3>
      <input type='submit'  class="btn btn-default" value='Ver cambios'>
      <input type='hidden' name='aplicarCambios'  value=1>
</form>
    <%if(actualizar){%>
    <br>
    <div>
    <span><b>Nuevas asignaturas</b></span>
    <table class="table" id="tb_departamentos">
        <thead>
            <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre Inglés</th>
            <th scope="col">Cts</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dep resp</th>
            <th scope="col">Curso</th>
            <th scope="col">Sem</th>
            </tr>
        </thead>
        <tbody>
        <%nuevasAsignaturas.forEach(function(as){%>
          <tr>
            <td><%=as.codigo%></td>
            <td><%=as.nombre%></td>
            <td><%=as.nombreIngles%></td>
            <td><%=as.creditos%></td>
            <td><%=as.tipo%></td>
            <td><%=as.DepartamentoResponsable%></td>
            <td><%=as.curso%></td>
            <td><%=as.semestre%></td>
          </tr>
        <%})%>
        </tbody>
    </table>
    </div>
    <div>
    <span><b>Asignaturas que desaparacen</b></span>
    <table class="table" id="tb_departamentos">
        <thead>
            <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre Inglés</th>
            <th scope="col">Cts</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dep resp</th>
            <th scope="col">Curso</th>
            <th scope="col">Sem</th>
            </tr>
        </thead>
         <tbody>
        <%desapareceAsignaturas.forEach(function(as){%>
            <tr>
            <td><%=as.codigo%></td>
            <td><%=as.nombre%></td>
            <td><%=as.nombreIngles%></td>
            <td><%=as.creditos%></td>
            <td><%=as.tipo%></td>
            <td><%=as.DepartamentoResponsable%></td>
            <td><%=as.curso%></td>
            <td><%=as.semestre%></td>
            </tr>
        <%})%>
        </tbody>
      </div>
      <div>
    </table>
    <span><b>Cambios en asignaturas</b></span>
    <table class="table" id="tb_departamentos">
        <thead>
            <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre Inglés</th>
            <th scope="col">Cts</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dep resp</th>
            <th scope="col">Curso</th>
            <th scope="col">Sem</th>
            </tr>
        </thead>
        <tbody>
        <%cambioAsignaturas.forEach(function(as){%>
          <tr>
           <td><%=as.codigo%></td>
            <td><%=as.nombre%></td>
            <td><%=as.nombreIngles%></td>
            <td><%=as.creditos%></td>
            <td><%=as.tipo%></td>
            <td><%=as.DepartamentoResponsable%></td>
            <td><%=as.curso%></td>
            <td><%=as.semestre%></td>
            </tr>
            <tr>
            <%let asAntigua = cambioAsignaturasAntigua.find(function (obj) { return obj.codigo === as.codigo });%>
            <td>Antigua</td>
            <td><%=asAntigua.nombre%></td>
            <td><%=asAntigua.nombreIngles%></td>
            <td><%=asAntigua.creditos%></td>
            <td><%=asAntigua.tipo%></td>
            <td><%=asAntigua.DepartamentoResponsable%></td>
            <td><%=asAntigua.curso%></td>
            <td><%=asAntigua.semestre%></td>
            </tr>
        <%})%>
        </tbody>
    </table>
    </div>
    <%if(actualizar == 1){%>
    <form id="actualizarApiUpmForm" autocomplete="off" action="<%= actualizarpath %>" method="post">
    <input type='submit'  class="btn btn-default" value='Aplicar cambios'>
    <button type="button"  class="btn btn-default" onclick="Volver('<%=path%>')">Cancelar</button>
    <input type='hidden' name='aplicarCambios'  value=2>
    </form>
    <%}%>
    <%if(actualizar == 2){%>
    <p class="incidencia">Cambios aplicados. Si es necesario debe retraer el estado de la programación docente manualmente.</p>
    <%}%>
<%}%>

<script>
function Volver(cancelarpath){
  window.location.replace(cancelarpath);
}
</script>