<%- include gestion.ejs %>

<div class="contenido" style="padding-top: 120px;">

    <%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
        <p><%=permisoDenegado%></p>
    <%}else{%>
        <input type="hidden" value="<%= anoSeleccionado %>" id="anoSeleccionado" />
        <h2>Aulas 
            
            
        </h2>
        <select id="anoSelector" onchange="changeAno()" style="margin-bottom: 1em;">
                <option value="<%=ano2%>" selected><%=ano2.substring(2,5)%>/<%= parseInt(ano2.substring(2,5)) + 1%></option> 
                <option value="<%=ano1%>" ><%=ano1.substring(2,5)%>/<%= parseInt(ano1.substring(2,5)) + 1%></option> 
        </select>
        
        <select id="cuatrimestreSelector" onchange="changeCuatrimestre()" style="margin-bottom: 1em;">
            <option selected>Primer cuatrimestre</option>
            <option>Segundo cuatrimestre</option>
        </select>
        <div class="autocomplete" style="width:500px;">
        <input type="text" id="buscador" onkeypress="buscadorOnKeyPress(event)" placeholder="buscar..."/>
        </div>
        <div id="aulas1">
        <%for (let i=0 ; i<aulas1.length; i++){%>
            <div id="div-1-<%=aulas1[i] %>">
                <h3><%= aulas1[i] %>
                    <button type="button" class="btn btn-default" onclick = "MostrarOcultar('table_1_<%=aulas1[i]%>')">
                    <span id ='button_table_1_<%=aulas1[i]%>'  class="glyphicon glyphicon-plus"></span> 
                    </button>
                </h3>
                <div class="hidden" id="table_1_<%=aulas1[i]%>">
                    <table class="table_aulas" border="1" style="text-aling: center;">
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>
                        <% for( let j=0 ; j<13 ; j++){%>
                            <tr>
                                <td>
                                    <%=j+8%>:00
                                </td>
                                <% for( let z=0 ; z<6; z++){%>
                                    <% if(gruposPorAula1[aulas1[i]][j+z*13] == undefined) { %>
                                        <td></td>
                                    <% }else if(gruposPorAula1[aulas1[i]][j+z*13].includes("/")) { %>
                                    <td style=" color: rgb(230, 30, 30)">
                                        <%=gruposPorAula1[aulas1[i]][j+z*13]%>
                                    </td>
                                    <% }else{ %>
                                    <td>
                                        <%=gruposPorAula1[aulas1[i]][j+z*13]%>
                                    </td>
                                    <%}%>
                                <%}%>
                            </tr>
                        <%}%>
                    </table>
                </div>
            </div>
        <%}%>
        </div>
        <div id="aulas2" style="display: none">
        <%for (let i=0 ; i<aulas2.length; i++){%>
            <div id="div-2-<%=aulas2[i] %>">
                <h3><%= aulas2[i] %>
                    <button type="button" class="btn btn-default" onclick = "MostrarOcultar('table_2_<%=aulas2[i]%>')">
                    <span id ='button_table_2_<%=aulas2[i]%>'  class="glyphicon glyphicon-plus"></span> 
                    </button>
                </h3>
                <div class="hidden" id="table_2_<%=aulas2[i]%>">
                    <table class="table_aulas" border="1" style="text-aling: center;">
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>
                        <% for( let j=0 ; j<13 ; j++){%>
                            <tr>
                                <td>
                                    <%=j+8%>:00
                                </td>
                                <% for( let z=0 ; z<6; z++){%>
                                    <td>
                                        <%=gruposPorAula2[aulas2[i]][j+z*13]%>
                                    </td>
                                <%}%>
                            </tr>
                        <%}%>
                    </table>
                </div>
            </div>
        <%}%>
        </div>
    <%}%>

</div>
<script>
    function MostrarOcultar(id){
        let divSemestre = document.getElementById(id);
        let buttonSpan = document.getElementById('button_'+id)
        let clases = divSemestre.className.split(" ");
        let oculto = clases.find(function (obj) { return obj === 'hidden'});
        //si estaba oculto debo quitarlo
        if (oculto){
            divSemestre.className = "";
            for (let i =0; i<clases.length; i++){
                if (clases[i] !== 'hidden'){
                    divSemestre.className += " " +clases[i]
                }    
            }
            
            buttonSpan.className = "glyphicon glyphicon-minus"
        }
        //debo ocultarlo
        else{
            divSemestre.className += " hidden"
            buttonSpan.className = "glyphicon glyphicon-plus"

        }

    }

    function buscadorOnKeyPress(key){
        if(key.keyCode == 13){
            $('#aulas1').children('div').each(function () {
                let aBuscar = document.getElementById("buscador").value.toLowerCase()
                if(this.id.includes(aBuscar)){
                    document.getElementById(this.id).style.display = "block"
                }else{
                    document.getElementById(this.id).style.display = "none"
                }
            });
            $('#aulas2').children('div').each(function () {
                let aBuscar = document.getElementById("buscador").value.toLowerCase()
                if(this.id.includes(aBuscar)){
                    document.getElementById(this.id).style.display = "block"
                }else{
                    document.getElementById(this.id).style.display = "none"
                }
            });
        }
    }

    function changeCuatrimestre(){
        if(document.getElementById("cuatrimestreSelector").value === "Primer cuatrimestre"){
            document.getElementById("aulas1").style.display = "block";
            document.getElementById("aulas2").style.display = "none";
        }else{
            document.getElementById("aulas2").style.display = "block";
            document.getElementById("aulas1").style.display = "none";
        }
    }
    function changeAno(){
        let ano = document.getElementById("anoSelector").value;
        let search = parseQueryString();
        delete search.ano;
        search.ano = ano;
        let url = parseStringQuery(search);
        window.location.replace(url);
    }

    document.addEventListener("DOMContentLoaded", function() {
        let element3 = document.getElementById('anoSelector');
        if (element3){
            document.getElementById('anoSelector').value = document.getElementById("anoSeleccionado").value;
        }else{
            document.getElementById('anoSelector').value = "<%=ano2%>";
        }
    });
</script>
<style>
    th{
        text-align: center;
        padding: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    td{
        text-align: center;
        padding: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
</style>