 <div class="table-responsive">
        <table>
          <tr class=" espacio">
            <td class="col-sm-7"></td>
            <td class="col-sm-2">Estado</td>
            <td class="col-sm-3">Última Modificación</td>
          </tr>
          <tr class=" espacio" >
            <td class="col-sm-7"><u>Programación Docente</u></td>
            <% if (estadoProgDoc===estadosProgDoc.abierto) { %>
            <td class="col-sm-2">
            <table>
              <tr><td >Abierto</td></tr>
              <tr><td ><progress value="30" max="100"></progress></td></tr>
            </table>
            </td>
            <%}%>
            <% if (estadoProgDoc===estadosProgDoc.listo) { %>
            <td class="col-sm-2">
            <table>
              <tr><td>Completada</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            </td>
            <%}%>
            <% if (estadoProgDoc===estadosProgDoc.incidencia) { %>
            <td class="col-sm-2">
            <table>
              <tr><td class="incidencia">Incidencia</tr></td>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            </tr>
            <%}%>
            <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaProgDoc) { %>
            <td class="col-sm-3"><%=fechaProgDoc.getDate()+'/'+(+fechaProgDoc.getMonth()+1)+'/'+fechaProgDoc.getFullYear()%></td>
            <%}%>
            <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-7"><u>Horarios</u></td>
            <% if (estadoHorarios=== estadosHorario.abierto) { %>
            <td class="col-sm-2">
            <table>
              <tr><td>Abierto</td></tr>
              <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
            </td>
            <%}%>
            <% if (estadoHorarios===estadosHorario.aprobadoCoordinador) { %>
            <td class="col-sm-2">
            <table>
              <tr><td>Aprobado Coordinador</tr></td >
              <tr><td ><progress  value="100" max="100"></progress></td></tr>
            </table>
            </td>
            <%}%>
            <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaHorarios) { %>
            <td class="col-sm-3" ><%=fechaHorarios.getDate()+'/'+(+fechaHorarios.getMonth()+1)+'/'+fechaHorarios.getFullYear()%></td>
            <%}%>
            <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-7"><u>Exámenes</u></td>
            <% if (estadoExamenes === estadosExamen.abierto) { %>
            <td class="col-sm-2">
            <table>
              <tr><td>Abierto</td></tr>
              <tr><td><progress value="30" max="100"></progress></td></tr>
            </table>
            </td>
            <%}%>
            <% if (estadoExamenes === estadosExamen.aprobadoCoordinador) { %>
            <td class="col-sm-2">
            <table>
              <tr><td>Aprobado Coordinador</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            </td>
            <%}%>
            <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaExamenes) { %>
            <td class="col-sm-3" ><%=fechaExamenes.getDate()+'/'+(+fechaExamenes.getMonth()+1)+'/'+fechaExamenes.getFullYear()%></td>
            <%}%>
            <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          </tr>
  
          <tr class=" espacio">
            <td class="col-sm-7"><u>Profesores</u></td>
            <td class="col-sm-2"></td>
            <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaProfesores) { %>
            <td class="col-sm-3"><%=fechaProfesores.getDate()+'/'+(+fechaProfesores.getMonth()+1)+'/'+fechaProfesores.getFullYear()%></td>
            <%}%>
            <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          </tr>
          
          <tr class="">
            <% Object.keys(estadoProfesores).forEach(function(key){%>
            <% var value = estadoProfesores[key];%>
              <% for(var j=0; j < departamentos.length; j++) { %>
                <% if (key === departamentos[j].codigo) { 
                  if (departamentos[j].acronimo !== null){ %>
                      <td class="col-sm-7"><span title="<%=departamentos[j].nombre%>"><%=departamentos[j].acronimo%></span></td>
                    <%}else {%>
                      <td class="col-sm-7"><span title="<%=departamentos[j].nombre%>"><%=departamentos[j].codigo%></span></td> 
                    <%}%> 
                <% } %>
              <% } %>
              <% if (value === estadosProfesor.abierto) { %>
              <td class="col-sm-2">
              <table>
                <tr><td >Abierto</td></tr>
                <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (value === estadosProfesor.aprobadoResponsable) { %>
              <td class="col-sm-2">
              <table>
                <tr><td>Aprobado por Responsable Docente</td></tr>
                <tr><td><progress  value="60" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (value === estadosProfesor.aprobadoDirector) { %>
              <td class="col-sm-2">
              <table>
                <tr><td>Aprobado por Director</td></tr>
                <tr><td><progress value="100" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaProfesores) { %>
              <td class="col-sm-3"></td></tr>
              <%}%>
              <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
              <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          <% });%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-7"><u>Tribunales</u></td>
            <td class="col-sm-2"></td>
            <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaTribunales) { %>
            <td class="col-sm-3"><%=fechaTribunales.getDate()+'/'+(+fechaTribunales.getMonth()+1)+'/'+fechaTribunales.getFullYear()%></td>
            <%}%>
            <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          </tr>
          
          <tr class="">
            <% Object.keys(estadoTribunales).forEach(function(key){%>
            <% var value = estadoTribunales[key];%>
            <% for(var j=0; j < departamentos.length; j++) { %>
              <% if (key === departamentos[j].codigo) { 
                if (departamentos[j].acronimo !== null){ %>
                      <td class="col-sm-7"><span title="<%=departamentos[j].nombre%>"><%=departamentos[j].acronimo%></span></td>
                    <%}else {%>
                      <td class="col-sm-7"><span title="<%=departamentos[j].nombre%>"><%=departamentos[j].codigo%></span></td> 
                    <%}%> 
                <% } %>
              <% } %>
              <% if (value === estadosTribunal.abierto) { %>
              <td class="col-sm-2">
              <table>
                <tr><td >Abierto</td></tr>
                <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (value === estadosTribunal.aprobadoResponsable) { %>
              <td class="col-sm-2">
              <table>
                <tr><td>Aprobado por Responsable Docente</td></tr>
                <tr><td><progress  value="60" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (value === estadosTribunal.aprobadoDirector) { %>
              <td class="col-sm-2">
              <table>
                <tr><td>Aprobado por Director</td></tr>
                <tr><td><progress value="100" max="100"></progress></td></tr>
              </table>
              </td>
              <%}%>
              <% if (estadoProgDoc !== estadosProgDoc.incidencia && fechaTribunales) { %>
              <td class="col-sm-3"></td></tr>
              <%}%>
              <% if (estadoProgDoc === estadosProgDoc.incidencia) { %>
              <td class="incidencia col-sm-3">Incidencia</td>
            <%}%>
          <% });%>
          </tr>
        </table>
</div>