<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script src="<%=contextPath%>/js/funciones.js"></script>
<%- include cumplimentar.ejs %>
<div class="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
    <% switch(estadoExamenes){
      case estadosExamen.abierto : %>
        <p>Los exámenes están siendo cubiertos por el coordinador del plan de estudios</p>
        <% break;
      case estadosExamen.aprobadoCoordinador : %>
        <p>Los horarios han sido aprobados por el coordinador del plan de estudios</p>
        <% break;
      default:
      break;
    }%> 
  <p><%=permisoDenegado%></p>
  </br>
  <p>Permisos en función del estado</p>
  <ul>
    <li>Abierto: el coordinador del plan de estudios </li>
    <li>Aprobado: nadie tiene permiso </li>
    <li>Incidencia: el jefe de estudios</li>
  </ul>
<%}else{%>
        <form id="formulario" autocomplete="off" action="<%=aprobarpath%>" method="post" onsubmit="return Enviar()" >
                <div class="myHeader2 sticky">
                    <%if(estadoExamenes === estadosExamen.abierto && estadoProgDoc === estadosProgDoc.abierto) {%>
                    <input type="submit" value='Guardar y Aprobar Asignación Examenes'>
                    <%}%>
                    <button type="button" onclick="Guardar('<%= nuevopath %>')">Guardar Cambios</button>
                    <button type="button" onclick="Volver('<%= cancelarpath %>')">Cancelar</button>
                </div>
                <div>
                    <% for (let i=0 ; i<asignacionsExamen.length; i++){%>
                        <h2><%= asignacionsExamen[i].periodoNombre %>
                        <button type="button" class="btn btn-default" onclick = "MostrarOcultar('div_<%=asignacionsExamen[i].periodo%>')">
                        <span id ='button_div_<%=asignacionsExamen[i].periodo%>'  class="glyphicon glyphicon-plus"></span> 
                        </button>
                        <button type="button" id='buttonCalendario_div_<%=asignacionsExamen[i].periodo%>' class="btn btn-default hidden" onclick = "mostrarCalendario('calendario_<%=asignacionsExamen[i].periodo%>')">
                        Calendario
                        </button></h2>
                        <div class="hidden" id="div_<%=asignacionsExamen[i].periodo%>">
                            <table class="table" id="table_<%=asignacionsExamen[i].periodo%>">
                                <thead>
                                    <tr>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% for (let j=0 ; j<asignacionsExamen[i].asignaturas.length; j++){%>
                                <tr>
                                    <th scope="row">
                                        <%if (asignacionsExamen[i].asignaturas[j].acronimo !== null){ %>
                                            <span title="<%=asignacionsExamen[i].asignaturas[j].nombre%> (<%=asignacionsExamen[i].asignaturas[j].codigo%>)"><%= asignacionsExamen[i].asignaturas[j].acronimo%></span>
                                        <% }else{%>
                                        <span  title="<%=asignacionsExamen[i].asignaturas[j].nombre%> (<%=asignacionsExamen[i].asignaturas[j].codigo%>)"><%= asignacionsExamen[i].asignaturas[j].nombre%></span>
                                        <% } %> 
                                    </th>
                                    <td>
                                        <%= asignacionsExamen[i].asignaturas[j].curso%>
                                    </td>
                                    <td>
                                    <% let f = "DD/MM/YYYY"
                                        if (asignacionsExamen[i].asignaturas[j].examen.fecha !== null){ 
                                            f= asignacionsExamen[i].asignaturas[j].examen.fecha.split("-")[2]+"/"+asignacionsExamen[i].asignaturas[j].examen.fecha.split("-")[1]+"/"+asignacionsExamen[i].asignaturas[j].examen.fecha.split("-")[0]
                                        }%>
                                    <input class="form-control dateExamen<%=asignacionsExamen[i].periodo%>" value id="date_<%=asignacionsExamen[i].asignaturas[j].identificador%>_<%=asignacionsExamen[i].asignaturas[j].examen.identificador%>_<%=asignacionsExamen[i].periodo%>"  placeholder="<%=f%>" type="text" onchange="Change('date_<%=asignacionsExamen[i].asignaturas[j].identificador%>_<%=asignacionsExamen[i].asignaturas[j].examen.identificador%>_<%=asignacionsExamen[i].periodo%>')" readonly="readonly"/>
                                    <input type="hidden" id="hidden_date_<%=asignacionsExamen[i].asignaturas[j].identificador%>_<%=asignacionsExamen[i].asignaturas[j].examen.identificador%>_<%=asignacionsExamen[i].periodo%>" name="momentaneo" value='date_<%=asignacionsExamen[i].asignaturas[j].identificador%>_<%=asignacionsExamen[i].asignaturas[j].examen.identificador%>_<%=asignacionsExamen[i].periodo%>'/>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                            <table class="table" style="display: none;" id="table_calendario_<%=asignacionsExamen[i].periodo%>">
                                <thead>
                                    <tr>
                                    <th scope="col">Día</th>
                                    <% for (let k=0 ; k<cursos.length; k++){%>
                                        <th scope="col">Curso <%=cursos[k]%></th>
                                    <%}%> 
                                    </tr>
                                </thead>
                                <tbody id="body_table_calendario_<%=asignacionsExamen[i].periodo%>">
                                </tbody>
                            </table>
                        </div>
                    <%}%>
                </div>
        </form>
    <%}%>

</div>
<script>
let periodos = <%-JSON.stringify(periodosExamen)%>
let pdID = <%-JSON.stringify(pdID)%>
let cursos = <%-JSON.stringify(cursos)%>
//el multiselect del layout funciona con jquery
let estado = <%-JSON.stringify(estado)%>
let asignacionsExamen = <%-JSON.stringify(asignacionsExamen)%>;
let anoInicial;
let anoFinal;
let fechasLimite;
//se utiliza para disparar el evento de onbeforeunload
let activado = true;
if(pdID && periodos){
anoInicial = 2000+ Number(pdID.split("_")[2][2]+""+pdID.split("_")[2][3])
anoFinal = 2000+ Number(pdID.split("_")[2][4]+""+pdID.split("_")[2][5])
//las fecha limite para poner los exámenes
fechasLimite ={S1_O:["01/01/"+anoFinal, "31/01/"+anoFinal], S1_E:["01/06/"+anoFinal,"31/07/"+anoFinal], 
S2_O:["01/05/"+anoFinal,"30/06/"+anoFinal], S2_E:["01/06/"+anoFinal,"31/07/"+anoFinal]}
}

//inicio el calendario
$(function() {
    if(pdID && periodos){
            $.fn.datepicker.dates['es'] = {
            days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sab"],
            daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            today: "Hoy",
            clear: "Borrar",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 0
        };
        $('.dateExamen'+periodos.S1_O).datepicker({
            language: "es",
            keyboardNavigation: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy",
            clearBtn: true,
            startDate: fechasLimite.S1_O[0],
            endDate: fechasLimite.S1_O[1]
            
        });
        $('.dateExamen'+periodos.S1_E).datepicker({
            language: "es",
            keyboardNavigation: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy",
            clearBtn: true,
            startDate: fechasLimite.S1_E[0],
            endDate: fechasLimite.S1_E[1]
            
        });
        $('.dateExamen'+periodos.S2_O).datepicker({
            language: "es",
            keyboardNavigation: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy",
            clearBtn: true,
            startDate: fechasLimite.S2_O[0],
            endDate: fechasLimite.S2_O[1]
            
        });
        $('.dateExamen'+periodos.S2_E).datepicker({
            language: "es",
            keyboardNavigation: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy",
            clearBtn: true,
            startDate: fechasLimite.S2_E[0],
            endDate: fechasLimite.S2_E[1]
            
        });     
    }
   
}); 

function Change(id){
    let element = document.getElementById(id);
    let elementHidden = document.getElementById("hidden_"+id);
    if (element.value === element.placeholder || element.value === ""){
        elementHidden.setAttribute('name', "momentaneo");
        elementHidden.setAttribute('value', id+"_"+element.value)
    }else if (id.split("_")[2] === ""){
        elementHidden.setAttribute('name', "anadir");
        elementHidden.setAttribute('value', id+"_"+element.value)
    }else{
        elementHidden.setAttribute('name', "actualizar");
        elementHidden.setAttribute('value', id+"_"+element.value)
    }
}


function MostrarOcultar(id){
    let div = document.getElementById(id);
    let buttonSpan = document.getElementById('button_'+id)
    let buttonCalendario = document.getElementById('buttonCalendario_'+id)
    let clases = div.className.split(" ");
    let clases2 = buttonCalendario.className.split(" ");
    let oculto = clases.find(function (obj) { return obj === 'hidden'});
    //si estaba oculto debo quitarlo
    if (oculto){
        div.className = "";
        buttonCalendario.className = "";
        for (let i =0; i<clases.length; i++){
            if (clases[i] !== 'hidden'){
                div.className += " " +clases[i]
            }    
        }
        for (let i =0; i<clases2.length; i++){
            if (clases2[i] !== 'hidden'){
                buttonCalendario.className += " " + clases2[i]
            }    
        }
        
        buttonSpan.className = "glyphicon glyphicon-minus"
    }
    //debo ocultarlo
    else{
        div.className += " hidden"
        buttonCalendario.className += " hidden"
        buttonSpan.className = "glyphicon glyphicon-plus"

    }

}

function mostrarCalendario(id){
    let estadoExamenes=[];
    let table = document.getElementById("table_"+id);
    let tableBody = document.getElementById("body_table_"+id);
    let cellsOfRow="";
    let found=false;
    let periodo = id.split("_")[1]
    let tableDatos = document.getElementById("table_"+periodo)
    let buttonCalendario = document.getElementById('buttonCalendario_div_'+periodo)
    let text = buttonCalendario.innerHTML.trim();
    let primeroEncontrado = false;
    let ultimoEncontrado = -1;
    let periodoKey;
    for(let i in periodos){
        if(periodos[i] === periodo){
            periodoKey = i;
        }
    }
    // Recorremos todas las filas con contenido de la tabla en la que metemos los datos
    for (let j = 1; j < tableDatos.rows.length; j++){
        cellsOfRow = tableDatos.rows[j].getElementsByTagName('th');
        cellsOfRow2 = tableDatos.rows[j].getElementsByTagName('td');
        // Recorremos todas las celdas de la fila que me interesan
        let nuevoExamen = {};
        nuevoExamen.asignatura = cellsOfRow[0].innerHTML.trim();
        nuevoExamen.curso = cellsOfRow2[0].innerHTML.trim();
        nuevoExamen.asignaturaNombre = cellsOfRow[0].title
        cellsOfRow2[1].children[0].value.trim() === "" ? nuevoExamen.fecha = cellsOfRow2[1].children[0].placeholder : nuevoExamen.fecha =cellsOfRow2[1].children[0].value;
        estadoExamenes.push(nuevoExamen);

    }
    let fechaLimiteInicio = fechasLimite[periodoKey][0]
    let fechaLimiteFinal = fechasLimite[periodoKey][1]
    if(text === 'Calendario'){
        let body = document.getElementById("body_table_"+id)
        //borro lo que había en el body para repintarlo
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild);
        }
        let fechaFila = fechaLimiteInicio
                
        // Recorremos todas las filas con contenido de la tabla
        while (fechaFila !== aumentarDia(fechaLimiteFinal)){
            if(!primeroEncontrado){
                let coincidenciasFecha = estadoExamenes.filter(
                //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                ex => (ex.fecha === fechaFila)
                );
                coincidenciasFecha.length === 0 ? primeroEncontrado = false : primeroEncontrado = true;
            }
            if(primeroEncontrado){
                let row = tableBody.insertRow();
                let cell0 = row.insertCell();
                cell0.innerHTML = getDia(fechaFila)+ " " +fechaFila.split("/")[0];
                for(let k=0; k<cursos.length; k++){
                    let cell = row.insertCell();
                    cell.innerHTML =""
                    let coincidencias = estadoExamenes.filter(
                    //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                    ex => (ex.fecha === fechaFila && Number(ex.curso)===Number(cursos[k]))
                    );
                    for (let l=0; l<coincidencias.length; l++){
                        if(l>0){
                            cell.innerHTML+= " / "+coincidencias[l].asignatura;
                        }else{
                            ultimoEncontrado = tableBody.rows.length -1;
                            cell.innerHTML+= coincidencias[l].asignatura;
                        }
                    }

                }
            }

            fechaFila = aumentarDia(fechaFila)
        }
        //borro las últimas filas que no hay
        if(ultimoEncontrado !== -1){
            for (let m=tableBody.rows.length -1; m>ultimoEncontrado; m--){
                tableBody.deleteRow(m);
            }
        }
        buttonCalendario.innerHTML = 'Ocultar Calendario'
        tableDatos.style.display = "none";
        table.style.display = "block";
    }else{
        buttonCalendario.innerHTML = 'Calendario'
        tableDatos.style.display = "block";
        table.style.display = "none";
    }
}

function Volver(cancelarpath){
    activado = false;
    window.location.replace(cancelarpath);
}
function Guardar(nuevopath){
    activado = false;
    let form2 = document.getElementById("formulario");
    form2.setAttribute('action', nuevopath);
    form2.submit();
}

function Enviar(){
    activado = false;
      if (confirm("Una vez aprobados los exámenes no podrá modificarlos ¿Seguro que quiere aprobarlos?")){
        return true
    }else{
        activado = true
        return false;
    }
}

//aumenta un dia a la fecha
function aumentarDia(fecha){
   let ano = fecha.split("/")[2]
   let mes = fecha.split("/")[1]
   let dia = fecha.split("/")[0]
   let d = new Date (mes+"/"+dia+"/"+ano)
   let nextDay = new Date(d);
   nextDay.setDate(d.getDate()+1);
   //Devuelve la fecha en formato dd/mm/yyyy
   return(("0" + nextDay.getDate()).slice(-2)+"/"+("0" + (nextDay.getMonth() + 1)).slice(-2)+"/"+nextDay.getFullYear())
}
//la fecha la paso como dd/mm/yyyy (puedo pasarla como 5/8/2018)
function getDia(fecha) {
    let ano = fecha.split("/")[2]
    let mes = fecha.split("/")[1]
    let dia = fecha.split("/")[0]
    //debo darle la vuelta al formato ingles
    let d = new Date(mes+"/"+dia+"/"+ano);
    let weekday = new Array(7);
    weekday[0] = "D";
    weekday[1] = "L";
    weekday[2] = "M";
    weekday[3] = "X";
    weekday[4] = "J";
    weekday[5] = "V";
    weekday[6] = "S";

    return weekday[d.getDay()];  
}
window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuarar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardar(["anadir","actualizar"], activado)
  activado = true
  return confirma;
}
</script>