<%- include consultar.ejs %>
<div class="contenido">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else{%>
            <% for (let i=0 ; i<grupos.length; i++){%>
                <div>
                    <h2>Curso <%= grupos[i].curso %></h2>
                    <% for (let j=0 ; j<grupos[i].semestres.length; j++){%>
                        <h3>Semestre <%= grupos[i].semestres[j].semestre %>
                        </h3>
                        <div id="table_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>">
                            <table class="table" id="tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales">
                                <thead>
                                    <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Capacidad</th>
                                    <th scope="col">Aula</th>
                                     <th scope="col">Itinerario</th>
                                    </tr>
                                </thead>
                                <tbody id='body_tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales'>
                                <% for (let k=0 ; k<grupos[i].semestres[j].grupos.length; k++){
                                    if(!grupos[i].semestres[j].grupos[k].nombre.toUpperCase().includes("OPT")){
                                    %>
                                        <tr>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].nombre%>
                                        </td>
                                        <td>  
                                        <%=grupos[i].semestres[j].grupos[k].capacidad%>
                                        </td>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].aula%>
                                        </td>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].nombreItinerario%>
                                        </td>
                                        </tr>
                                <%}
                            }%>                                
                                <% for (let k=0 ; k<grupos[i].semestres[j].grupos.length; k++){
                                    if(grupos[i].semestres[j].grupos[k].nombre.toUpperCase().includes("OPT")){
                                    %>
                                        <tr>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].nombre%>
                                        </td>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].capacidad%>
                                        </td>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].aula%>
                                        </td>
                                        <td>
                                        <%=grupos[i].semestres[j].grupos[k].nombreItinerario%>
                                        </td>
                                        </tr>
                                <%}
                            }%>
                                 </tbody>
                                </table>
                        </div>
                    <%}%>
                </div>

            <%}%>
    <%}%>

</div>
<script>



</script>