<div style="margin:20px">
<h1>Bienvenido a la aplicación de Programación Docente.</h1>
<p>Puede consultar el estado de las programaciones docentes y el historial a través del 
    <button style="background:none;border:none;outline:none;" onclick="clickButton('drop_ProgDoc')"><b><u>menu de la izquierda</u></b></button>.
</p>
<%if (session.user.PersonaId === null){%>
    <p>Usted no tiene ningún rol en el sistema.</p>
<%}else if(!session.user.rols || session.user.rols.length === 0 ){%>
    <p>Usted no tiene ningún rol en el sistema.<p>
<%}else{%>
    <p>Usted tiene los siguientes roles:</h2>
    <ul>
        <% session.user.rols.forEach(rol => {%>
            <li>
                <b><%=rol.rol%></b>
                <%if(rol.PlanEstudioCodigo){%>
                    del plan <i><%=rol['PlanEstudio.nombre'] || rol['PlanEstudio.nombreCompleto']%> (<%=rol.PlanEstudioCodigo%>)</i>
                <%}if(rol.DepartamentoCodigo){%>
                    del departamento <i><%=rol['Departamento.acronimo'] || rol['Departamento.nombre']%> (<%=rol.DepartamentoCodigo%>)</i>
                <%} Object.keys(rolsDelegados).forEach(key => {%>
                    <%if(rolsDelegados[key].includes(rol.rol)){%>
                        delegado de <%=key%>
                   <%}
                })%>
            </li>   
        <%})%>
    </ul> 
<%}%>
<p>Si considera que debería tener un rol distinto (responsable docente, coordinador de titulación, delegado, etc.)  contacte con Jefatura de Estudios para otorgar los permisos pertinentes.</p>
<p>Puede consultar los roles y sus permisos en la sección  
    <button style="background:none;border:none;outline:none;" onclick="clickButton('element_ProgDocAyuda')"><b><u>'Ayuda'</u></b></button>.
</p>

</div>
<script>
    function clickButton(id){
        document.getElementById(id).click();
    }
</script>

