<div>
<h1 style="margin:20px">Bienvenido <%=session.user.cn%></h1>
<%if (session.user.PersonaId === null){%>
    <h2 style="margin:20px">Usted no se encuentra registrado en el sistema, si considera que debería estarlo contacte con Jefatura de Estudios para que le dé de alta</h2>
<%}else if(!session.user.rols || session.user.rols.length === 0 ){%>
    <h2 style="margin:20px">Usted se encuentra registrado en el sistema pero no posee ningún rol asociado al mismo</h2>
<%}else{%>
    <h2 style="margin:20px">Usted se encuentra registrado en el sistema y posee los siguientes roles:</h2>
    <ul>
        <% session.user.rols.forEach(rol => {%>
            <li>
                <b><%=rol.rol%></b>
                <%if(rol.PlanEstudioCodigo){%>
                    del plan <i><%=rol['PlanEstudio.nombre'] || rol['PlanEstudio.nombreCompleto']%> (<%=rol.PlanEstudioCodigo%>)</i>
                <%}if(rol.DepartamentoCodigo){%>
                    del departamento <i><%=rol['Departamento.acronimo'] || rol['Departamento.nombre']%> (<%=rol.DepartamentoCodigo%>)</i>
                <%} Object.keys(rolsDelegados).forEach(key => {%>
                    <%if(rolsDelegados[key].includes(rol.rol)){%>
                        delegado de <%=key%>
                   <%}
                })%>
            </li>   
        <%})%>
    </ul> 
<%}%>
<p style="margin:20px">Pulse en el <b>menú de la izquierda</b> para acceder a las funciones de programación docente</p>
</div>

