<script src="<%=CONTEXT%>/js/libraries/autocomplete.js"></script>
<div class="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
  <% switch(estadoProfesores[session.departamentoID]){
      case estadosProfesor.abierto : %>
        <p>Las asignaciones de profesores están siendo cubiertas por el responsable docente del departamento del plan de estudios</p>
        <% break;
      case estadosProfesor.aprobadoResponsable: %>
        <p>Las asignaciones de profesores deben ser aprobadas por el director del departamento</p>
        <% break;
      case estadosProfesor.aprobadoDirector: %>
        <p>La asignación de profesores ya ha sido aprobada por el director del departamento</p>
        <% break;
      default:
      break; 
  }%> 
  <p><%=permisoDenegado%></p>
  <br/>
  <p>Permisos en función del estado</p>
  <ul>
    <li>Abierto: el responsable docente del departamento en el plan </li>
    <li>Aprobado por el responsable docente: el director del departamento </li>
    <li>Aprobado: nadie tiene permiso</li>
    <li>Incidencia: Jefatura de Estudios</li>
  </ul>
<%}else{%>
    <ul style="list-style-type:none">
    <% for(let i=0; i < asignacion.length; i++) { %> 
      <% if(i===0) { %>
        <li>
        <h2>Curso <%= asignacion[i].curso %></h2>
      <% } %>
      <% if(i>=1 && asignacion[i].curso !== asignacion[i-1].curso) { %>
      </li>
      <li>
        <h2>Curso <%= asignacion[i].curso %></h2>
        <% } %>
        <ul style="list-style-type:none">
          <li>
        <% if(estadoProfesores[session.departamentoID] === estadosProfesor.abierto || estadoProgDoc === estadosProgDoc.incidencia ) {
           let texto;
           let modo; 
           if(asignacion[i].estado === "N"){ texto = "Cambiar a asignación por grupos"; modo = "S"}
           else{ texto = "Cambiar a asignación sin grupos"; modo="N"}
           %> 
          <form autocomplete="off" id="editar_<%= asignacion[i].identificador %>" action="<%= nuevopath %>" method="get">
          <input type="hidden", name = 'asignatura', value='<%= asignacion[i].identificador %>'>
          <!--modo se utiliza para informar del tipo de cambio entre asignación por grupos o comun-->
          <input type="hidden", name = 'modo', value='<%= modo %>'>
          <% if (asignacion[i].acronimo !== null){ %>
               <h3><span  title="<%=asignacion[i].nombre%> (<%=asignacion[i].codigo%>)"> <%= asignacion[i].acronimo %></span> 
               <input type="submit"  class="btn btn-default" value="Editar">
               <button type="button"  class="btn btn-default" onclick="cambiarModo('editar_<%= asignacion[i].identificador %>','<%= cambiopath %>')"><%=texto%></button></h3>
            <% }else{%>
               <h3><span  title="<%=asignacion[i].nombre%> (<%=asignacion[i].codigo%>)"> <%= asignacion[i].nombre %></span> 
               <input type="submit"  class="btn btn-default" value="Editar">
               <button type="button"  class="btn btn-default" onclick="cambiarModo('editar_<%= asignacion[i].identificador %>','<%= cambiopath %>')"><%=texto%></button></h3></h3>
            <% } %>
          </form>
          <% } else{%>
            <% if (asignacion[i].acronimo !== null){ %>
              <h3><span  title="<%=asignacion[i].nombre%> (<%=asignacion[i].codigo%>)"><%= asignacion[i].acronimo %></span></h3>
            <% }else{%>
              <h3><span  title="<%=asignacion[i].nombre%> (<%=asignacion[i].codigo%>)"><%= asignacion[i].nombre%></span></h3>
            <% }
           }%>
          <ul style="list-style-type:none">
          <li>
            <span> Coordinador: <%= asignacion[i].coordinador.nombreCorregido %> </span>
          </li>    
           <!-- Si el estado es N la asignacion se hace por grupo comun -->
           <%if(asignacion[i].estado === "N") {
              if(asignacion[i].grupos.length > 0){ %>
                <li>
                  <span> Grupo Común: </span>             
              <%for(var k=0; k< asignacion[i].grupos[0].profesors.length; k++){
                if(k === asignacion[i].grupos[0].profesors.length -1 ){%>
                  <span><%= asignacion[i].grupos[0].profesors[k].nombreCorregido %></span>
                <%}else{%>     
                  <span><%= asignacion[i].grupos[0].profesors[k].nombreCorregido %>; </span>
                <%}
              } %>
            </li>
              <%}%>
          <%} else { %>
          <% for(var j=0; j< asignacion[i].grupos.length; j++){ %>
          
              <li>
              <% if (asignacion[i].grupos[j].grupoPerteneciente === true){%>
                <span> Grupo <%= asignacion[i].grupos[j].GrupoNombre %> <%= asignacion[i].grupos[j].nombreItinerario %>: </span>
              <%} else{%>
                <span class="cuidado"> Grupo <%= asignacion[i].grupos[j].GrupoNombre %> <%= asignacion[i].grupos[j].nombreItinerario %>: </span>
              <%}%>
            
            <%for(var k=0; k< asignacion[i].grupos[j].profesors.length; k++){
              if(k === asignacion[i].grupos[j].profesors.length -1 ){%>
                <span><%= asignacion[i].grupos[j].profesors[k].nombreCorregido %></span>
              <%}else{%>     
                <span><%= asignacion[i].grupos[j].profesors[k].nombreCorregido %>; </span>
              <%}
            } %>
              </li>
        <% } 
      } %> 
        </ul>
        </li>
    </ul>  
    <% } %>
    </li>
    </ul>

  <%}%>

</div>
<script>

let estado = <%-JSON.stringify(estado)%>
let existe = <%-JSON.stringify(existe)%>
let profesores = <%-JSON.stringify(profesores)%>
let profesores2 ="";
if(estado === null && existe === null){
  profesores2 = quitAcents(profesores)
  //document.getElementsByTagName('body')[0].onload = changeSelect();
}



function Enviar(){
  return confirm("Una vez aprobada la asignación de profesores no podrá modificarla ¿Seguro que quiere aprobarla?")
}

function Decidir(decision){
  let dec = document.getElementById('decision');
  dec.setAttribute('value', decision)
  if(confirm("Esta acción no se podrá deshacer. ¿Está seguro de que quiere continuar?")){
    document.getElementById("formDecision").submit();
  }
}

function cambiarModo(id, cambiopath){
  let form2 = document.getElementById(id);
    form2.setAttribute('action', cambiopath);
    //change method to post
    form2.setAttribute('method', 'post');
    form2.submit();
}

</script>


    