<!--Calendario Consultar-->
<%- include ../menus/consultar.ejs %>
<div class="contenido">
        <script src="<%=CONTEXT%>/js/libraries/datepicker.js"></script>
        <input type="hidden" value="<%=ano%>" id="anoSeleccionado">
    <%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
        <p><%=permisoDenegado%></p>
    <%}else if(ano === null){ %>
        <p style="margin-top: 30px">Programación docente no abierta</p>
    <%}else{%>
        <%if(estado === 0){ %>
            <p style="margin-top: 30px">Calendario no aprobado.  Se muestra la parte relativa al calendario general cumplimentada hasta el momento.</p>
        <%}%>
        <div class="">       
            <h2>Calendario <%=ano%>/<%=parseInt(ano)+1%>
                <%- include ./popoverEvents.ejs %>
            </h2>     
        </div>
           
        <div  id="calendario_comun" style=" margin-top: 35px;">
            
                <table style="font-size: 17px; border-color: black" border="2">
                        <tr >
                            <th style="text-align: center;  padding: 5px;">
                                Semana
                            </th>
                            <th style="text-align: center; ">
                                Mes
                            </th>
                            <th style="text-align: center; ">
                                L
                            </th>
                            <th style="text-align: center; ">
                                M
                            </th>
                            <th style="text-align: center;">
                                X
                            </th>
                            <th style="text-align: center;">
                                J
                            </th>
                            <th style="text-align: center;">
                                V
                            </th>
                            <th style="text-align: center;">
                                S
                            </th> 
                            <th style="text-align: center;">
                                D
                            </th>
                            <th style="text-align: center;">
                                Eventos
                            </th>
                        </tr>
        
                        <% meses = ["SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE","ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO"] %>
                        <% contador_de_meses = 0; contador_de_semanas = 0 %>
                        <% array_eventos = [] %>
                        <% for(var i = 0 ; i<(calendario.length/7); i++){ %>
        
                            <% array_eventos = [] %>
                            <tr>
                                <td style="text-align: center; margin-right:1px;">
                                    
                                        
                                            <%=contador_de_semanas %>
                                        
                                        <% contador_de_semanas += 1 %>   
                                    
                                </td>
                                <td style="text-align: center; margin-right:1px; border: 0px; padding: 5px;">
                                    <% if(calendario.slice(i*7, i*7+7).includes(1)){ %>
                                        
                                            <%= meses[contador_de_meses] %>
                                        
                                        <% contador_de_meses += 1 %>   
                                    <% } %>
                                </td>
        
                                <% for(var j = 0 ; j<(7); j++){ %>
                                    
                                    <% if(calendario[i*7 + (j)] === undefined) { %>
                                        <td></td>
        
                                    <%}else{ %>
                                        <% array_eventos.push.apply(array_eventos, array_dias[i*7 + (j)].eventos);%>
                                        
                                            <%if(j== 6 || j==5) {%>
                                                <td style="background-color: white; color: red; text-align: center; padding: 5px;"  >   <%= calendario[i*7 + (j)] %>
                                                </td>
                                                
                                            <% }else{ %>
                                                <td style="background-color: <%= array_dias[i*7 + (j)].color %>; text-align: center; padding: 5px;"  >   <%= calendario[i*7 + (j)] %>
                                                </td>
                                            <% } %>
                                                                                
                                    <% } %>
        
                                <% } %>
                                <td style="border: 0px; margin-left: 1em;margin-right: 1em; font-size: 17px; padding: 5px;">
                                
                                    <span>
                                        
                                        <% for( var j=0 ; j < array_eventos.length ; j++){ %>
                                            <% if (!array_eventos[j].mensaje.includes('eliminado//')){ %>
                                                <% if (j>0){ %>
                                                    ;
                                                <% } %>
                                                <%= array_eventos[j].mensaje %>
                                            <% } %>
                                        <% } %>
                                    </span>
                                    
                                </td>
        
                            </tr>
        
                        <% } %>
                        
                    </table>
        </div>
</div>       
    <%}%>
</div>

