<!--Calendario General Jefe de Estudios-->
<div class="contenido">
    <script src="<%=CONTEXT%>/js/libraries/datepicker.js"></script>
    <link rel='stylesheet' type="text/css" href='<%=CONTEXT%>/stylesheets/datepicker.css' />
    <%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
        <p><%=permisoDenegado%></p>
    <%}else{%>
        <input type="hidden" value="<%=ano%>" id="anoSeleccionado"> 
        <div class="">       
            <h2>Calendario común </h2>
            <p>Permite cumplimentar el <b>calendario general</b> usado como base para el calendario específico de cada plan.</p>
            <%- include ./popoverEvents.ejs %>
            <%
            const enabled = estado === 0 ? '': 'disabled';
            const titleButtonCalendar = estado === 0 ? 'Pulse para añadir un evento' : 'El calendario ya está trasladado, no puede editarlo a menos que lo retraiga'
            const titleButtonEvent = estado === 0 ? 'Pulse para editar un evento' : 'El calendario ya está trasladado, no puede editarlo a menos que lo retraiga'
            %>
            <% if(estado === 0){ %>
                <button type='button' class="btn btn-primary"  title="Pulse para trasladar el calendario común a cada plan"  onclick="trasladar(<%=ano%>, 1)">Trasladar</button>
            <% }else{ %>
                <small>Este calendario <b>ya ha sido trasladado a todos los planes.</b> Si desea modificar el calendario general debe retraer el estado del calendario y volver a trasladarlo a los planes.</small>
                <button type='button' class="btn btn-primary"  title="Pulse para retraer el estado del calendario y poder modificar el calendario general"  onclick="trasladar(<%=ano%>, 0)">Retraer</button>
            <% } %>
            <% if(vacio === true) { %>
                <button type="button" class="btn btn-default"  title="Pulse para copiar eventos del año anterior"  onclick="copiar(<%=ano%>)"  >Copiar eventos</button>
            <% }else{ %>
                <button type="button" class="btn btn-default"  title="Para copiar eventos del año anterior no debe haber ningún evento asignado" disabled >Copiar eventos</button>
            <% } %>
            <br>
            <% if(ano == ano1) { %>
                <small style="color:red">Este calendario es el del año actual, no del siguiente.</small>
            <% } %>
            <% if(estado === 0){ %>
                <small>Hasta que no traslade los eventos del calendario general al resto de los planes los coordinadores no podrán editar el calendario.</small>
            <% } %>

            
        </div>
             

        <div  id="calendario_comun" style=" margin-top: 35px;">
                <div id="dicDiasContent_1">
                    <span><b>Distribución de días lectivos del primer cuatrimestre</b> (debe asignar el inicio del curso y el final del primer cuatrimestre para que se contabilicen correctamente):</span>
                        <table border="2" style="font-size: 17px; margin-bottom: 2em;">
                            <tr>
                                <th style="text-align: center;padding: 1em">Día</th>
                                <td style="text-align: center;padding: 1em">Lunes</td>
                                <td style="text-align: center;padding: 1em">Martes</td>
                                <td style="text-align: center;padding: 1em">Miércoles</td>
                                <td style="text-align: center;padding: 1em">Jueves</td>
                                <td style="text-align: center;padding: 1em">Viernes</td>
                                
                            </tr>
                            <tr>
                                <th style="text-align: center;padding: 1em">Número de lectivos</th>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_1[1]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_1[2]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_1[3]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_1[4]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_1[5]%></td>
                            </tr>                      
                        </table>
                </div>
                <div id="dicDiasContent_2">
                    <span><b>Distribución de días lectivos del segundo cuatrimestre</b> (debe asignar el inicio del segundo cuatrimestre y el final del curso para que se contabilicen correctamente):</span>
                        <table border="2" style="font-size: 17px; margin-bottom: 2em;">
                            <tr>
                                <th style="text-align: center;padding: 1em">Día</th>
                                <td style="text-align: center;padding: 1em">Lunes</td>
                                <td style="text-align: center;padding: 1em">Martes</td>
                                <td style="text-align: center;padding: 1em">Miércoles</td>
                                <td style="text-align: center;padding: 1em">Jueves</td>
                                <td style="text-align: center;padding: 1em">Viernes</td>
                                
                            </tr>
                            <tr>
                                <th style="text-align: center;padding: 1em">Número de lectivos</th>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_2[1]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_2[2]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_2[3]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_2[4]%></td>
                                <td style="text-align: center;padding: 1em"><%= dic_diasSemana_2[5]%></td>
                            </tr>                      
                        </table>
                </div>
            <table >
                <tr >
                    <th style="text-align: center;">
                        
                    </th>
                    <th style="text-align: center;">
                        Mes
                    </th>
                    <th style="text-align: center;">
                        L
                    </th>
                    <th style="text-align: center;">
                        M
                    </th>
                    <th style="text-align: center;">
                        X
                    </th>
                    <th style="text-align: center;">
                        J
                    </th>
                    <th style="text-align: center;">
                        V
                    </th>
                    <th style="text-align: center;">
                        S
                    </th>
                    <th style="text-align: center;">
                        D
                    </th>
                    <th style="text-align: center;">
                        Eventos
                    </th>
                </tr>

                <% meses = ["Sep", "Oct", "Nov", "Dic","Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago"] %>
                <% contador_de_meses = 0; contador_de_semanas = 0 %>
                <% array_eventos = [] %>
                <% for(var i = 0 ; i<(calendario.length/7); i++){ %>

                    <% array_eventos = [] %>
                    <tr>
                        <td style="text-align: center; margin-right:1px;">
                            
                                <span style="margin-right: 1em;">
                                    <%=semanas[contador_de_semanas] %>
                                </span>
                                <% contador_de_semanas += 1 %>   
                            
                        </td>
                        <td style="text-align: center; margin-right:1px;">
                            <% if(calendario.slice(i*7, i*7+7).includes(1)){ %>
                                <span style="margin-right: 1em; margin-left: 1em;">
                                    <%= meses[contador_de_meses] %>
                                </span>
                                <% contador_de_meses += 1 %>   
                            <% } %>
                        </td>

                        <% for(var j = 0 ; j<(7); j++){ %>
                            
                            <% if(calendario[i*7 + (j)] === undefined) { %>
                                <td></td>

                            <%}else{ %>
                                <% array_eventos.push.apply(array_eventos, array_dias[i*7 + (j)].eventos);%>
                                <td>
                                    <%if(j == 6 || j == 5) {%>
                                        <button style="background-color: white; color: red;" type="button" class="btn calendario-boton" data-toggle="modal" data-target="#eventoModal" data-dia="<%= array_dias[i*7 + (j)].codigo %>" title="<%=titleButtonCalendar%>" <%=enabled%> >   <%= calendario[i*7 + (j)] %></button>
                                    
                                        
                                    <% }else{ %>
                                        <button style="background-color: <%= array_dias[i*7 + (j)].color %>" type="button" class="btn calendario-boton" data-toggle="modal" data-target="#eventoModal" data-dia="<%= array_dias[i*7 + (j)].codigo %>" title="<%=titleButtonCalendar%>" <%=enabled%> >   <%= calendario[i*7 + (j)] %></button>
                                        
                                    <% } %>
                                    <input type="hidden" id="eventos<%= array_dias[i*7 + (j)].codigo %>" value="<%= array_dias[i*7 + (j)].eventos%>" >
                                    
                                </td>
                            <% } %>

                        <% } %>
                                
                        <td style="height: 28px">
                            <div style="margin-left: 1em; " >
                                
                                <% for( var j=0 ; j < array_eventos.length ; j++){ %>
                                    <% var json_stringify = JSON.stringify(array_eventos[j]) %>
                                    <input type="hidden" value="<%= json_stringify%>" id="data-<%= array_eventos[j].mensaje %>">
                                    <% if (estado === 0) { %>
                                        <button  style="text-align: left;" onclick="eventoAntiguoBoton(<%=json_stringify%>, true)" title="<%=titleButtonEvent%>"><%= array_eventos[j].mensaje %></button>
                                    <%} else {%>
                                        <span title="<%=titleButtonEvent%>"><%= array_eventos[j].mensaje %></span>
                                    <% } %>                                    
                                <% }%>
                                </div>
                        </td>

                    </tr>

                <% } %>
                
            </table>
        </div>
        <% if(estado === 0){ %> 
            <div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <input type="hidden" id="fechaInicio">
                            <input type="hidden" id="eventoAntiguo">
                            <div id="div-selectEvento">
                                <label for="eventoTipo">Elegir evento</label>
                                <select class="form-control form-control-lg" id="eventoTipo" onchange="eventoTipoChange()">
                                        <option disabled selected>Escoja un evento</option>
                                        <option>Comienzo del curso</option>
                                        <option>Final del primer cuatrimestre</option>
                                        <option>Comienzo del segundo cuatrimestre</option>
                                        <option>Final del curso</option>
                                        <option>Día/periodo festivo</option>
                                        <option>Días no lectivos o de ajuste</option>
                                        <option>Exámenes</option>
                                        <option>Periodo TFT</option>
                                        <option>Días especiales</option>
                                        <option>Otro</option>
                                        
                                </select>
                                <small id="eventoHelp" class="form-text text-muted">En este desplegable se muestran los eventos predeterminados que se deben definir. Para crear uno distinto escoger la opción "Otro".</small>
                            </div>
                            <div style="display: none;" id="formularioEventoPersonalizado">
                                <input type="hidden" id="tipoDeEvento">
                                
                                <b><span id="text-formularioEvento"></span></b>
                                
                                <div id="div-eventoNombre">
                                    <label style="font-weight: normal;" for="eventoNombreInput" >Nombre del evento: </label>
                                    <input type="text" autocorrect="off" class="form-control" id="eventoNombreInput"  placeholder="Nombre del evento">
                                </div>
                                <span style="font-weight: normal;" id="text-fechaInicio">Fecha de comienzo es: </span>

                                <div id="div-inicioEvento">
                                    <label for="inicioEvento" id="inicioEventoLabel" style="font-weight: normal;">Editar fecha de inicio del evento:</label>
                                    <input class="form-control datePickerInicio" id="inicioEvento" name="inicioEvento" placeholder="Fecha del evento">
                                </div>
                                <div id="div-selectDiade" style="display: none">
                                    <label for="diaDe" id="label-diaDe" style="font-weight: normal;">Tipo de día:</label>
                                    <select class="form-control form-control-lg" id="diaDe" >
                                            <option disabled selected>Escoja un día</option>
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miércoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                    </select>
                                </div>
                                <div id="div-diarioCheck">
                                    <input type="checkbox" class="form-check-input" id="diarioCheck" onchange="diarioChange()">
                                    <label class="form-check-label" for="diarioCheck" style="font-weight: normal;" >Evento diario</label>
                                </div>
                                <div id="div-finEvento">
                                    <label for="finEvento" id="finEventoLabel" style="font-weight: normal;">Fecha de fin del evento:</label>
                                    <input class="form-control datePickerFin" id="finEvento" name="finEvento" placeholder="Fecha final del evento">
                                </div>
                                <div id="div-editableCheck">
                                    <input type="checkbox" class="form-check-input" id="editableCheck">
                                    <label class="form-check-label" for="editableCheck" style="font-weight: normal;">Evento editable</label>
                                </div>
                                <div id="div-selectTipoExamen" style="display: none">
                                    <label for="tipoDeExamen" style="font-weight: normal;">Tipo de periodo:</label>
                                    <select class="form-control form-control-lg" id="tipoDeExamen" >
                                            <option selected>Ordinario</option>
                                            <option>Extraordinario</option>
                                    </select>
                                </div>
                                
                                
                            </div>
                    </div>
                    <div class="modal-footer">
                        <span style="display: none; color: red; text-align: left;" id="mensajeErrorEvento">Debe escoger la opción de evento diario o poner una fecha final.</span>
                        
                        <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>
                        <button type="button" class="btn btn-danger" id="botonEliminarEvento" onclick="eliminarEvento('<%= CONTEXT %>/gestion/calendario/eventoGeneral', true)">Eliminar</button>
                        <button type="button" class="btn btn-primary" onclick="guardarEvento('<%= CONTEXT %>/gestion/calendario/eventoGeneral', true)">Guardar</button>

                    </div>
                    </div>
                </div>
            </div>
        <% } %>
</div>     
    <%}%>

</div>

<style>
    .calendario-boton{
        border-color: black;
        height: 3em;
        width: 3em;
        border-radius: 0px;
    }    
</style>

<%- include ./calendarioFunciones.ejs %>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        let element3 = document.getElementById('selectano');
        if (element3) {
            document.getElementById('selectano').value = document.getElementById("anoSeleccionado").value;
        } else {
            document.getElementById('selectano').value = "<%=ano2%>";
        }
    });
    $('body').on('click', function (e) {
        //did not click a popover toggle or popover
        if ($(e.target).data('toggle') !== 'popover'
            && $(e.target).parents('.popover.in').length === 0) {
            $('[data-toggle="popover"]').popover('hide');
        }
    });
    document.getElementsByTagName('body')[0].onload = actualizarCalendarioBarra();
    function actualizarCalendarioBarra() {


        if ("<%-general%>" === "true") {
            document.getElementById('selectPlanCalendario').value = "General";
        } else {
            let selectValue = document.getElementById('plan').value
            let element2 = document.getElementById('selectPlanCalendario')
            if (element2) {
                document.getElementById('selectPlanCalendario').value = selectValue;
            }
        }
    }


function trasladar(ano, newEstado){
    let url = "<%= CONTEXT %>/gestion/calendario/estado"
    url += "?ano=" + ano + "&newEstado=" + newEstado;
    let textConfirm = "";
    if (newEstado === 0){
        textConfirm = "Va a retraer el estado del calendario. Los coordinadores no podrán editarlo hasta que vuelva a trasladar los eventos. ¿Quiere continuar?"
    } else {
        textConfirm = "Va a trasladar los eventos del calendario general a cada una de las titulaciones. Los coordinadores de las titulaciones podrán comenzar a adaptarlo. Esta acción sólo se podrá realizar una vez. si se necesita modificar algún evento para un programa en particular, se puede hacer con el selector de titulación. ¿Quiere continuar?"
    }
    if(confirm(textConfirm)){
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            success: function(json) {
                location.reload();
            },
            error: function(e){
                alert("Error en el servidor, la acción no se ha podido completar")
            }
        });
    }
}

function copiar(ano){
        if(confirm('Va a copiar los eventos del año pasado. \n'+
        'Esta acción no se podrá deshacer. ¿Está seguro de que quiere continuar?')){
            let url = "<%= CONTEXT %>/gestion/calendario/copiar"
            url += "?ano=" + ano;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                success: function(json) {
                    location.reload();
                },
                error: function(e){
                    alert("Ha ocurrido un error")
                }
            });
        }   
    }
</script>