<!--Calendario Cumplimentar Cooridandores Planes-->
<%- include ../menus/cumplimentar.ejs %>
<div class="contenido">
        <script src="<%=CONTEXT%>/js/libraries/datepicker.js"></script>
        <link rel='stylesheet' type="text/css" href='<%=CONTEXT%>/stylesheets/datepicker.css' />
        <input type="hidden" value="<%=ano%>" id="anoSeleccionado">
    <%if(locals.permisoDenegado && locals.permisoDenegado !== null){%>
        <p style="margin-top: 30px"><%=permisoDenegado%></p>
    <%}else if(estado === 0){ %>
        <p style="margin-top: 30px">El calendario general de este año no ha sido completado todavía por Jefatura de Estudios. En la pestaña de consultar puede ver su estado actual.</p>
    <%}else if(ano === null){ %>
        <p style="margin-top: 30px">Programación docente no abierta</p>
    <%}else{%>
        
        <div class="">       
            <h2>Calendario <%=ano%>/<%=parseInt(ano)+1%>   
                <%- include ./popoverEvents.ejs %>
            </h2> 
        </div>
        
        <div  id="calendario_comun" style=" margin-top: 35px;">
            
            <table>
                <tr >
                    <th style="text-align: center;">
                        Semana
                    </th>
                    <th style="text-align: center;">
                        Mes
                    </th>
                    <th style="text-align: center;">
                        L
                    </th>
                    <th style="text-align: center;">
                        M
                    </th>
                    <th style="text-align: center;">
                        X
                    </th>
                    <th style="text-align: center;">
                        J
                    </th>
                    <th style="text-align: center;">
                        V
                    </th>
                    <th style="text-align: center;">
                        S
                    </th>
                    <th style="text-align: center;">
                        D
                    </th>
                    <th style="text-align: center;">
                        Eventos
                    </th>
                </tr>

                <% meses = ["Septiembre", "Octubre", "Noviembre", "Diciembre","Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto"] %>
                <% contador_de_meses = 0; contador_de_semanas = 0 %>
                <% array_eventos = [] %>
                <% for(var i = 0 ; i<(calendario.length/7); i++){ %>

                    <% array_eventos = [] %>
                    <tr>
                        <td style="text-align: center; margin-right:1px;">
                            
                                <span style="margin-right: 1em;">
                                    <%=contador_de_semanas %>
                                </span>
                                <% contador_de_semanas += 1 %>   
                            
                        </td>
                        <td style="text-align: center; margin-right:1px;">
                            <% if(calendario.slice(i*7, i*7+7).includes(1)){ %>
                                <span style="margin-right: 1em;">
                                    <%= meses[contador_de_meses] %>
                                </span>
                                <% contador_de_meses += 1 %>   
                            <% } %>
                        </td>

                        <% for(var j = 0 ; j<(7); j++){ %>
                            
                            <% if(calendario[i*7 + (j)] === undefined) { %>
                                <td></td>

                            <%}else{ %>
                                <% array_eventos.push.apply(array_eventos, array_dias[i*7 + (j)].eventos);%>
                                <td>
                                    <%if(j== 6 || j==5) {%>
                                        <button style="background-color: white; color: red;" type="button" class="btn calendario-boton" data-toggle="modal" data-target="#eventoModal" data-dia="<%= array_dias[i*7 + (j)].codigo %>" >   <%= calendario[i*7 + (j)] %></button>
                                    <% }else{ %>
                                        <button style="background-color: <%= array_dias[i*7 + (j)].color %>" type="button" class="btn calendario-boton" data-toggle="modal" data-target="#eventoModal" data-dia="<%= array_dias[i*7 + (j)].codigo %>" >   <%= calendario[i*7 + (j)] %></button>
                                    <% } %>
                                    <input type="hidden" id="eventos<%= array_dias[i*7 + (j)].codigo %>" value="<%= array_dias[i*7 + (j)].eventos%>" >
                                    
                                </td>
                            <% } %>

                        <% } %>
                                
                        <td>
                            <span style="margin-left: 1em;">
                                
                                <% for( var j=0 ; j < array_eventos.length ; j++){ %>
                                    <% var json_stringify = JSON.stringify(array_eventos[j]) %>
                                    <input type="hidden" value="<%= json_stringify%>" id="data-<%= array_eventos[j].mensaje %>">
                                    <!--Se pueden editar los eventos generales editables o los eventos creados especificos del plan-->
                                    <% if(array_eventos[j].editable === 1 || array_eventos[j].identificadorEventoPlan !== '0'){ %>
                                        <% if (!array_eventos[j].mensaje.includes('eliminado//')){ %>
                                            <button  style="text-align: left;" onclick="eventoAntiguoBoton(<%=json_stringify%>, false)"><%= array_eventos[j].mensaje %></button>
                                        <% } %>                                     
                                    <% }else{%>
                                        <span><%= array_eventos[j].mensaje %></span>
                                    <% } %>
                                <% }%>
                            </span>
                        </td>

                    </tr>

                <% } %>
                
            </table>
        </div>
        <div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="fechaInicio">
                        <input type="hidden" id="eventoAntiguo">
                        <div id="div-selectEvento">
                            <label for="eventoTipo">Elegir evento</label>
                            <select class="form-control form-control-lg" id="eventoTipo" onchange="eventoTipoChange()">
                                    <option disabled selected>Escoja un evento</option>
                                    <option>Comienzo del curso</option>
                                    <option>Final del primer cuatrimestre</option>
                                    <option>Comienzo del segundo cuatrimestre</option>
                                    <option>Final del curso</option>
                                    <option>Días no lectivos o de ajuste</option>
                                    <option>Exámenes</option>
                                    <option>Periodo TFT</option>
                                    <option>Días especiales</option>
                                    <option>Otro</option>
                                    
                            </select>
                            <small id="eventoHelp" class="form-text text-muted">En este desplegable se muestran los eventos predeterminados que se deben definir. Para crear uno distinto escoger la opción "Otro".</small>
                        </div>
                        <div style="display: none;" id="formularioEventoPersonalizado">
                            <input type="hidden" id="tipoDeEvento">
                            
                            <b><span id="text-formularioEvento"></span></b>
                            
                            <div id="div-eventoNombre">
                                <label style="font-weight: normal;" for="eventoNombreInput" >Nombre del evento: </label>
                                <input type="text" autocorrect="off" class="form-control" id="eventoNombreInput"  placeholder="Nombre del evento">
                            </div>
                            <span style="font-weight: normal;" id="text-fechaInicio">Fecha de comienzo es: </span>

                            <div id="div-inicioEvento">
                                <label for="inicioEvento" id="inicioEventoLabel" style="font-weight: normal;">Editar fecha de inicio del evento:</label>
                                <input class="form-control datePickerInicio" id="inicioEvento" name="inicioEvento" placeholder="Fecha del evento">
                            </div>
                            <div id="div-selectDiade" style="display: none">
                                <label for="diaDe" id="label-diaDe" style="font-weight: normal;">Tipo de día:</label>
                                <select class="form-control form-control-lg" id="diaDe" >
                                        <option disabled selected>Escoja un día</option>
                                        <option>Lunes</option>
                                        <option>Martes</option>
                                        <option>Miércoles</option>
                                        <option>Jueves</option>
                                        <option>Viernes</option>
                                </select>
                            </div>
                            <div id="div-diarioCheck">
                                <input type="checkbox" class="form-check-input" id="diarioCheck" onchange="diarioChange()">
                                <label class="form-check-label" for="diarioCheck" style="font-weight: normal;" >Evento diario</label>
                            </div>
                            <div id="div-finEvento">
                                <label for="finEvento" id="finEventoLabel" style="font-weight: normal;">Fecha de fin del evento:</label>
                                <input class="form-control datePickerFin" id="finEvento" name="finEvento" placeholder="Fecha final del evento">
                            </div>
                            
                            <div id="div-selectTipoExamen" style="display: none">
                                <label for="tipoDeExamen" style="font-weight: normal;">Tipo de periodo:</label>
                                <select class="form-control form-control-lg" id="tipoDeExamen" >
                                        <option selected>Ordinario</option>
                                        <option>Extraordinario</option>
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <span style="display: none; color: red; text-align: left;" id="mensajeErrorEvento">Debe escoger la opción de evento diario o poner una fecha final.</span>
                        <div id="divBotones">
                            <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>
                            <button type="button" class="btn btn-danger" id="botonEliminarEvento" onclick="eliminarEvento('<%= CONTEXT %>/cumplimentar/calendario/eventoGeneral', false)">Eliminar</button>
                            <button type="button" class="btn btn-primary" onclick="guardarEvento('<%= CONTEXT %>/cumplimentar/calendario/eventoGeneral', false)">Guardar</button>
                        </div>  
                    </div>
                  </div>
                </div>
              </div>
</div>



        
    <%}%>

</div>

<style>
    .calendario-boton{
        border-color: black;
        height: 3em;
        width: 3em;
        border-radius: 0px;
    }    
</style>

<%- include ./calendarioFunciones.ejs %>
    