 <div class="table-responsive">
        <table>
          <tr class=" espacio">
            <td class="col-sm-4"></td>
            <td class="col-sm-6">Estado</td>
            <td class="col-sm-2">Última Modificación</td>
          </tr>
          <tr class="espacio">
            <td class="col-sm-4"><u>Programación Docente</u></td>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc']===estadosProgDoc.abierto) { %>
            <td class="col-sm-6" id="estadoProgdoc">
            <%if(verEstado){%>
            <table>
              <tr><td><font color="red">Abierto</font></td></tr>
              <tr><td ><progress value="30" max="100"></progress></td></tr>
            </table>
            <%}else{%>
            Abierto
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc']===estadosProgDoc.listo) { %>
            <td class="col-sm-6" id="estadoProgdoc">
            <%if(verEstado){%>
            <table>
              <tr><td><font color="red">Completada. Falta aprobación Jefe Estudios</font></td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            <%}else{%>
              Completada. Falta aprobación Jefe Estudios  
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc']===estadosProgDoc.incidencia) { %>
            <td class="col-sm-6" id="estadoProgdoc">
            <%if(verEstado){%>
            <table>
              <tr><td class="incidencia">Incidencia</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            <%}else{%>
            Incidencia
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaProgDoc']) { %>
            <td class="col-sm-2"><%=progDoc['ProgramacionDocentes.fechaProgDoc'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaProgDoc'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaProgDoc'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-4"><u>Horarios</u></td>
            <% if (progDoc['ProgramacionDocentes.estadoHorarios']=== estadosHorario.abierto) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Abierto</td></tr>
              <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
               Abierto
               <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
              <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoHorarios']===estadosHorario.aprobadoCoordinador) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Aprobado Coordinador</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
              <span>Aprobado Coordinador</span>
              <button type="button"  class="btn btn-default" onclick="CambiarEstado(this, '<%=estadosHorario.abierto%>', 'estadoHorarios', 'Abierto', null, '<%=cambioEstadopath%>')">Retraer estado</button>
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaHorarios']) { %>
            <td class="col-sm-2" ><%=progDoc['ProgramacionDocentes.fechaHorarios'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaHorarios'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaHorarios'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-4"><u>Exámenes</u></td>
            <% if (progDoc['ProgramacionDocentes.estadoExamenes'] === estadosExamen.abierto) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Abierto</td></tr>
              <tr><td><progress value="30" max="100"></progress></td></tr>
            </table>
            <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
              Abierto
              <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoExamenes'] === estadosExamen.aprobadoCoordinador) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Aprobado Coordinador</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
              <span>Aprobado Coordinador</span>
              <button type="button"  class="btn btn-default" onclick="CambiarEstado(this, '<%=estadosExamen.abierto%>', 'estadoExamenes', 'Abierto', null, '<%=cambioEstadopath%>')">Retraer estado</button>
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaExamenes']) { %>
            <td class="col-sm-2" ><%=progDoc['ProgramacionDocentes.fechaExamenes'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaExamenes'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaExamenes'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-4"><u>Actividades</u></td>
            <% if (progDoc['ProgramacionDocentes.estadoCalendario'] === estadosCalendario.abierto) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Abierto</td></tr>
              <tr><td><progress value="30" max="100"></progress></td></tr>
            </table>
            <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
              Abierto
              <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoCalendario'] === estadosCalendario.aprobadoCoordinador) { %>
            <td class="col-sm-6">
            <%if(verEstado){%>
            <table>
              <tr><td>Aprobado Coordinador</td></tr>
              <tr><td><progress  value="100" max="100"></progress></td></tr>
            </table>
            <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
              <span>Aprobado Coordinador</span>
              <button type="button"  class="btn btn-default" onclick="CambiarEstado(this, '<%=estadosCalendario.abierto%>', 'estadoCalendario', 'Abierto', null, '<%=cambioEstadopath%>')">Retraer estado</button>
            <%}%>
            </td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaCalendario']) { %>
            <td class="col-sm-2" ><%=progDoc['ProgramacionDocentes.fechaCalendario'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaCalendario'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaCalendario'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
          <tr class=" espacio">
            <td class="col-sm-4"><u>Profesores</u></td>
            <td class="col-sm-6"></td>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaProfesores']) { %>
            <td class="col-sm-2"><%=progDoc['ProgramacionDocentes.fechaProfesores'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaProfesores'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaProfesores'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
            <% Object.keys(progDoc['ProgramacionDocentes.estadoProfesores']).forEach(function(key){%>
            <tr class="">
            <% let value = progDoc['ProgramacionDocentes.estadoProfesores'][key];%>
            <% let departamento = departamentos.find(function(obj){return key === obj.codigo})  %>
            <%if (departamento.acronimo !== null){ %>
              <td class="col-sm-4"><span title="<%=departamento.nombre%>"><%=departamento.acronimo%></span></td>
            <%}else {%>
              <td class="col-sm-4"><span title="<%=departamento.nombre%>"><%=departamento.codigo%></span></td> 
            <%}%> 
              <% if (value === estadosProfesor.abierto) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td >Abierto</td></tr>
                <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                Abierto
                <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (value === estadosProfesor.aprobadoResponsable) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td>Aprobado Responsable Docente</td></tr>
                <tr><td><progress  value="60" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                Aprobado Responsable Docente
                <i class="glyphicon glyphicon-info-sign" title="El director de departamento debe retraer el estado desde la pestaña 'Cumplimentar>Profesores' para que el responsable docente pueda volver a editar los profesores"></i>
                <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (value === estadosProfesor.aprobadoDirector) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td>Aprobado Director</td></tr>
                <tr><td><progress value="100" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                <span>Aprobado Director</span>
                <button type="button"  class="btn btn-default" onclick="CambiarEstado(this, '<%=estadosProfesor.aprobadoResponsable%>', 'estadoProfesores', 'Aprobado Responsable Docente', '<%=departamento.codigo%>', '<%=cambioEstadopath%>')">Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia) { %>
              <td class="col-sm-2"></td>
              <%}else { %>
              <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
            </tr>
          <% });%>
          <tr class=" espacio">
            <td class="col-sm-4"><u>Tribunales</u></td>
            <td class="col-sm-6"></td>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia && progDoc['ProgramacionDocentes.fechaTribunales']) { %>
            <td class="col-sm-2"><%=progDoc['ProgramacionDocentes.fechaTribunales'].getDate()+'/'+(+progDoc['ProgramacionDocentes.fechaTribunales'].getMonth()+1)+'/'+progDoc['ProgramacionDocentes.fechaTribunales'].getFullYear()%></td>
            <%}%>
            <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] === estadosProgDoc.incidencia) { %>
            <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
          </tr>
            <% Object.keys(progDoc['ProgramacionDocentes.estadoTribunales']).forEach(function(key){%>
            <tr class="">
            <% var value = progDoc['ProgramacionDocentes.estadoTribunales'][key];%>
            <% let departamento = departamentos.find(function(obj){return key === obj.codigo})  %>
            <% if (departamento.acronimo !== null){ %>
              <td class="col-sm-4"><span title="<%=departamento.nombre%>"><%=departamento.acronimo%></span></td>
            <%}else {%>
              <td class="col-sm-4"><span title="<%=departamento.nombre%>"><%=departamento.codigo%></span></td> 
            <%}%> 
              <% if (value === estadosTribunal.abierto) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td >Abierto</td></tr>
                <tr><td ><progress value="30" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                Abierto
                <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (value === estadosTribunal.aprobadoResponsable) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td>Aprobado Responsable Docente</td></tr>
                <tr><td><progress  value="60" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                Aprobado Responsable Docente
                <i class="glyphicon glyphicon-info-sign" title="El director de departamento debe retraer el estado desde la pestaña 'Cumplimentar>Tribunales' para que el responsable docente pueda volver a editar los tribunales"></i>
                <button type="button"  class="btn btn-default" title="No puede retraer este estado" disabled>Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (value === estadosTribunal.aprobadoDirector) { %>
              <td class="col-sm-6">
              <%if(verEstado){%>
              <table>
                <tr><td>Aprobado Director</td></tr>
                <tr><td><progress value="100" max="100"></progress></td></tr>
              </table>
              <%}else if(progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia){%>
                <span>Aprobado Director</span>
                <button type="button"  class="btn btn-default" onclick="CambiarEstado(this,'<%=estadosTribunal.aprobadoResponsable%>', 'estadoTribunales', 'Aprobado Responsable Docente', '<%=departamento.codigo%>', '<%=cambioEstadopath%>')">Retraer estado</button>
              <%}%>
              </td>
              <%}%>
              <% if (progDoc['ProgramacionDocentes.estadoProGDoc'] !== estadosProgDoc.incidencia) { %>
              <td class="col-sm-2"></td>
              <%}else { %>
              <td class="incidencia col-sm-2">Incidencia</td>
            <%}%>
            </tr>
          <% });%>
        </table>
</div>

<script>
//estadoNombre es el nombre en la bbdd del estado (estadoHorario por ejemplo)
//estadoNuevo es el nuevo estado que se pondrá a estadoNombre en la BBDD
function CambiarEstado(button, estadoNuevo, estadoNombre, estadoNuevoTitulo, departamentoId, path){
  $.ajax({
        url: path,
        method: 'POST',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({ estadoNombre: estadoNombre, estadoNuevo: Number(estadoNuevo), departamentoId: departamentoId})
        }).done(function(res) {
    if(!res.success){
      alert(res.msg)
    }else{
      button.disabled = true;
      button.title = "No puede retraer este estado"
      button.parentNode.children[0].innerHTML = estadoNuevoTitulo  
      $("#estadoProgdoc").html("Abierto");
    }           
}).fail( function( jqXHR, textStatus, errorThrown ) {
        alert("Ha habido un error:" + jqXHR.status + " " + textStatus)
    })  
}
</script>