<div class ="portada">
<h1>PROGRAMACIÓN DOCENTE DE <%=progDoc.nombreCompleto%><h1>
<h2>Curso <%=progDoc['anoAcademico']%></h2>
<h3>Semestre <%let sem = progDoc['semestre'] === "I" ? 'Anual' : progDoc['semestre']%><%=sem%> versión <%=progDoc['version']%></h3>
</div>
<div style="page-break-after:always;"></div>
<div>
<% let getAsignaturas = function (curso,semestre){
  let found = asignaturas.filter(
      //devuelve las asignaturas de un curso y semestre
    asign => (Number(asign.curso) === Number(curso)&& (asign.semestre === semestre+"S" || asign.semestre === '1S-2S' || asign.semestre === 'A' || asign.semestre === 'I' ))
  );
return found;
}%>
<% let getViejaAsignatura = function (asign){
  let found = asignaturasViejas.find(function (obj) { return (obj.codigo === asign.codigo && obj.curso === asign.curso && obj.creditos === asign.creditos && obj.semestre === asign.semestre) });
  return found;
}%>
<% let getNombre = function (identificador){
    let persona = profesores.find(function (obj) { return obj.identificador === identificador; });
    if (persona){
      return persona.nombre;
    }else {
      return "-"
    }
}%>
<%- include ./pdfCalendario.ejs %>
<h2>1.Asignaturas</h2> 
<% for(let i=0; i < cursosConGrupos.length; i++) { %>
  <p>Curso <%=cursosConGrupos[i].curso%></p>
  <% for(let j=0; j < cursosConGrupos[i].semestres.length; j++) { %>
    <p>Semestre <%=cursosConGrupos[i].semestres[j].semestre%></p>
    <% let asignaturasEncontradas = getAsignaturas(cursosConGrupos[i].curso,cursosConGrupos[i].semestres[j].semestre) %>
      <table>
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Semestre</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Acrónimo</th>
            <th scope="col">ECTS</th>
            <th scope="col">Coordinador</th>
            <th scope="col">Presidente</th>
            <th scope="col">Vocal</th>
            <th scope="col">Secretario</th>
            <th scope="col">Suplente</th>
          </tr>
        </thead>
        <tbody>
        <% for (let k=0; k< asignaturasEncontradas.length; k++){ 
          let asignVieja = getViejaAsignatura(asignaturasEncontradas[k])
          if(!asignVieja && asignaturasViejas.length !== 0 ){%>
            <tr class="nuevaAsignatura">
          <%}else{%>
            <tr>
          <%}%>
            <td><%=asignaturasEncontradas[k].codigo%></td>
            <td><%=asignaturasEncontradas[k].semestre%></td>
            <td><%=asignaturasEncontradas[k].nombre%></td>
            <td><%=asignaturasEncontradas[k].acronimo%></td>
            <td><%=asignaturasEncontradas[k].creditos%></td>
            <%if(asignVieja && asignaturasEncontradas[k].CoordinadorAsignatura !== asignVieja.CoordinadorAsignatura){%>
              <td class="cuidado">
            <%}else{%>
              <td>
            <%}%>
            <%=getNombre(asignaturasEncontradas[k].CoordinadorAsignatura)%></td>
            <%if(asignVieja && asignaturasEncontradas[k].PresidenteTribunalAsignatura !== asignVieja.PresidenteTribunalAsignatura){%>
              <td class="cuidado">
            <%}else{%>
              <td>
            <%}%>
            <%=getNombre(asignaturasEncontradas[k].PresidenteTribunalAsignatura)%></td>
            <%if(asignVieja && asignaturasEncontradas[k].VocalTribunalAsignatura !== asignVieja.VocalTribunalAsignatura){%>
              <td class="cuidado">
            <%}else{%>
              <td>
            <%}%>
            <%=getNombre(asignaturasEncontradas[k].VocalTribunalAsignatura)%></td>
            <%if(asignVieja && asignaturasEncontradas[k].SecretarioTribunalAsignatura !== asignVieja.SecretarioTribunalAsignatura){%>
              <td class="cuidado">
            <%}else{%>
              <td>
            <%}%>
            <%=getNombre(asignaturasEncontradas[k].SecretarioTribunalAsignatura)%></td>
            <%if(asignVieja && asignaturasEncontradas[k].SuplenteTribunalAsignatura !== asignVieja.SuplenteTribunalAsignatura){%>
              <td class="cuidado">
            <%}else{%>
              <td>
            <%}%>
            <%=getNombre(asignaturasEncontradas[k].SuplenteTribunalAsignatura)%></td>
          </tr>
        <% } %>
        </tbody>
      </table>
  <% } %>
<% } %>
</div>
