<div style="page-break-after:always;"></div>
<div>
<%- include ../../public/js/helpers.ejs %>
<%
function getPeriodoKey(value){
    for(let i in periodos){
        if(periodos[i] === value){
            return i
        }
    }
    return -1;
}

let anoInicial;
let anoFinal;
let fechasLimite;
if(pdID && periodos){
anoInicial = 2000+ Number(pdID.split("_")[2][2]+""+pdID.split("_")[2][3])
anoFinal = 2000+ Number(pdID.split("_")[2][4]+""+pdID.split("_")[2][5])
//las fecha limite para poner los exámenes
fechasLimite ={S1_O:["01/09/"+anoInicial, "31/07/"+anoFinal], S1_E:["01/09/"+anoInicial, "31/07/"+anoFinal], 
S2_O:["01/09/"+anoInicial, "31/07/"+anoFinal], S2_E:["01/09/"+anoInicial, "31/07/"+anoFinal]}
}%>

<h2>4.Exámenes</h2>                    
    <% for (let i=0 ; i<asignacionsExamen.length; i++){%>
    <%if(i>0){%>
                <div style="page-break-after:always;"></div>
            <%}%>
        <h3><%= asignacionsExamen[i].periodoNombre %></h3>
            <% 
            let period = franjasExamen.find(function (obj) { return obj.periodo === asignacionsExamen[i].periodo; });
            if (period.franjas.length>0){%>
                <table class="table" id="tableFranjas_<%=period.periodo%>">
                    <tr>
                    <th>Franja</th>
                    <th>Hora Inicio</th>
                    <th>Duración (Minutos)</th>
                    </tr>
                <%for (let j=0 ; j<period.franjas.length; j++){%>
                    <tr id="fila_<%=period.franjas[j].identificador%>">
                        <%
                        let hora= +period.franjas[j].horaInicio.split(':')[0]
                        let minutos = +period.franjas[j].horaInicio.split(':')[1]
                        let duracion = period.franjas[j].duracion
                        if(!hora)hora=8;
                        if(!minutos)minutos=0;
                        if(!duracion)duracion=0;
                        if(parseInt(hora,10)<10)hora='0'+hora;
                        if(parseInt(minutos,10)<10)minutos='0'+minutos;
                            %>
                        <td><%=j+1%></td>
                        <td><%=hora%>:<%=minutos%></td>
                        <td><%=duracion%></td>
                    </tr>
                <%}%>
            </table>
            <br>
            <%}else{%>
            <p>No hay franjas de exámenes definidas</p>
            <%}%>
            <table class="table" id="table_calendario_<%=asignacionsExamen[i].periodo%>">
                <thead>
                    <tr>
                    <th scope="col" width="10%">Día</th>
                    <% for (let k=0 ; k<cursosConGrupos.length; k++){%>
                        <th scope="col" width="90/<%=cursosConGrupos.length%>%">Curso <%=cursosConGrupos[k].curso%></th>
                    <%}%> 
                    </tr>
                </thead>
                <tbody id="body_table_calendario_<%=asignacionsExamen[i].periodo%>">
                    <%let p = getPeriodoKey(asignacionsExamen[i].periodo)
                    let fechaLimiteInicial = fechasLimite[p][0]
                    let fechaLimiteFinal = fechasLimite[p][1]
                    let fechaFila = fechaLimiteInicial
                    let primeroEncontrado = false;
                    let ultimoEncontrado = 0;
                    let exs=[];
                    for(let z = 0; z<asignacionsExamen[i].examenes.length; z++){
                        if(period.franjas.length === 0){
                            exs.push(asignacionsExamen[i].examenes[z])
                        } 
                        else{
                            if(asignacionsExamen[i].examenes[z].franja) exs.push(asignacionsExamen[i].examenes[z])
                        }
                    }
                    while (fechaFila !== aumentarDia(fechaLimiteFinal,1) &&  ultimoEncontrado !== exs.length ){
                        if(!primeroEncontrado){
                            let coincidenciasFecha = exs.filter(
                            //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                            ex => (ex.fecha === fechaFila)
                            );
                            coincidenciasFecha.length === 0 ? primeroEncontrado = false : primeroEncontrado = true;
                            if (primeroEncontrado && getDia(fechaFila)[2] !== 1){%>
                                <tr><td colspan="<%=cursosConGrupos.length+1%>" style="text-align: center;"><%=getDia(fechaFila)[1]%></td></tr>
                            <%}
                        }
                        if(primeroEncontrado){
                            if(getDia(fechaFila)[2] === 1){%>
                                <tr><td colspan="<%=cursosConGrupos.length+1%>" style="text-align: center;"><%=getDia(fechaFila)[1]%></td></tr>
                            <%}
                           //compruebo sinFranjas porque cuando no hay franjas period.franjas.length seria 0 y no entraria en el bucle
                            let sinFranjas = period.franjas.length === 0 ? 1 : 0;
                            let numFranjas =  period.franjas.length === 0 ? 1 : period.franjas.length;
                            for(let k=0; k<(period.franjas.length || sinFranjas); k++){ %>
                            <tr>
                                <%if(k===0){%>
                                <td width="10%" class="noBordeInferior">
                                <%}else{%>
                                <td width="10%" class="noBorde">
                                <%}%>
                                <%if(Math.trunc(period.franjas.length/2)===k){%>
                                <%=getDia(fechaFila)[0]+ " " +fechaFila.split("/")[0];%>
                                <%}else{%>
                                &nbsp
                                <%}%>
                                </td>
                                <%for (let l=0 ; l<cursosConGrupos.length; l++){
                                    let condicionFranja = sinFranjas === 1 ? "-" : ""+(+k+1)
                                    let coincidencias = exs.filter(
                                    //me devuelve 8 y la bbdd de datos 08 por eso lo de 0+l
                                    ex => (ex.fecha === fechaFila && Number(ex.curso)===Number(cursosConGrupos[l].curso) && ""+ex.franja === condicionFranja)
                                    );
                                    if (coincidencias.length === 0){%>
                                        <td width="90/<%=cursosConGrupos.length%>%">-</td>
                                    <%}else{%>
                                        <td width="90/<%=cursosConGrupos.length%>%">
                                            <%for (let m=0; m<coincidencias.length; m++){
                                                if(m>0){
                                                    ultimoEncontrado++%>
                                                    / <%=coincidencias[m].asignatura%>
                                                <%}else{
                                                    ultimoEncontrado++%>
                                                    <%=coincidencias[m].asignatura%>
                                                <%}
                                            }%>
                                       </td>
                                    <%}
                                }%>
                            </tr>                            
                        <%}
                        }
                        fechaFila = aumentarDia(fechaFila,1)
                    }%>
                </tbody>
            </table>
    <%}%>

</div>