<!-- despliegue -->
<script src="<%=contextPath%>/js/autocomplete.js"></script>
<%- include ../menus/gestion.ejs %>
<div class="contenido">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado!== null){%>
  <p><%=permisoDenegado%></p>
<%}else{ %>
<% let filterByRol = function (roles, rol, plan, departamento){
    let filtro
    if (departamento) filtro = r => ((r.rol === rol && r.PlanEstudioCodigo === plan && r.DepartamentoCodigo === departamento))
    else filtro = r => ((r.rol === rol && r.PlanEstudioCodigo === plan))
    let found = roles.filter(
        filtro
    );
    return found;
}%>
<% let buscaPers = function (profesores, id){
let prof = profesores.find(function (obj) { return obj.identificador === id; });
if(!prof){
    prof={}
    prof.nombre="No asignado";
    prof.nombreCorregido = "No asignado";
}
return prof
}%>
<% let buscaDep = function (departamentos, id){
let dep = departamentos.find(function (obj) { return obj.codigo=== id; });
if(!dep.acronimo){
    dep.nom = dep.codigo
}else{
    dep.nom= dep.acronimo
}
return dep
}%>
<% let buscaDep2 = function (departamento){
if(!departamento.acronimo){
    departamento.nom = departamento.codigo
}else{
    departamento.nom= departamento.acronimo
}
return departamento
}%>
<h3>Gestión Roles Aplicación</h3>
<div id='hermanoNuevoProfesorForm'>
    <h3><em>Roles comunes a todas las titulaciones</em></h3>
     <table class="table">          
        <tbody id='body_tb_departamentos'>
            <% 
            let rol = rolesEnum.JefeEstudios
            let departamento = null
            let plan = null
            let rols = filterByRol(roles, rol, plan, departamento)
            let r = rols.length > 0 ? rols[0] : {}
            let index = 0;
            %>
                <tr>
                <td>
                Jefe de Estudios
                </td>
                <td id="td_<%=rol%>_<%=index%>" onclick="mostrar('<%=rol%>_<%=index%>')">
                <form autocomplete="off" id="<%=rol%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post" >
                <input type="hidden" name="rol" value="<%=rol%>_<%=plan%>_<%=departamento%>">
                <% let prof = buscaPers(profesores, r.PersonaId) %>
                <p id="p_<%=rol%>_<%=index%>"><%=prof.nombreCorregido%></p>
                <input id="<%=rol%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
                </form>
                </td>
                <td>
                <div id="buttons_<%=rol%>_<%=index%>" style="visibility:hidden">
                <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
                <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
                <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol%>_<%=index%>')">Eliminar</button>
                <div>
                </td>
                </tr>
             <% 
            rol = rolesEnum.SecretarioTitulacion
            departamento = null
            plan = null
            rols = filterByRol(roles, rol, plan, departamento)
            r = rols.length > 0 ? rols[0] : {}
            index = 0;
            %>
                <tr>
                <td>
                Secretaría Jefe de Estudios
                </td>
                <td id="td_<%=rol%>_<%=index%>" onclick="mostrar('<%=rol%>_<%=index%>')">
                <form autocomplete="off" id="<%=rol%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
                <input type="hidden" name="rol" value="<%=rol%>_<%=plan%>_<%=departamento%>">
                <%prof = buscaPers(profesores, r.PersonaId) %>
                <p id="p_<%=rol%>_<%=index%>"><%=prof.nombreCorregido%></p>
                <input id="<%=rol%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
                </form>
                </td>
                <td>
                <div id="buttons_<%=rol%>_<%=index%>" style="visibility:hidden">
                <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
                <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
                <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol%>_<%=index%>')">Eliminar</button>
                <div>
                </td>
                </tr>           
            <% 
            rol = rolesEnum.SubdirectorPosgrado
            departamento = null
            plan = null
            rols = filterByRol(roles, rol, plan, departamento)
            r = rols.length > 0 ? rols[0] : {}
            index = 0;
            %>
                <tr>
                <td>
                SubdirectorPosgrado
                </td>
                <td id="td_<%=rol%>_<%=index%>" onclick="mostrar('<%=rol%>_<%=index%>')">
                <form autocomplete="off" id="<%=rol%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
                <input type="hidden" name="rol" value="<%=rol%>_<%=plan%>_<%=departamento%>">
                <%prof = buscaPers(profesores, r.PersonaId) %>
                <p id="p_<%=rol%>_<%=index%>"><%=prof.nombreCorregido%></p>
                <input id="<%=rol%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
                </form>
                </td>
                <td>
                <div id="buttons_<%=rol%>_<%=index%>" style="visibility:hidden">
                <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
                <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
                <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol%>_<%=index%>')">Eliminar</button>
                <div>
                </td>
                </tr>
            <tr>
            <td><u>Directores departamentos</u></td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            </tr>
            <%
            rol = rolesEnum.DirectorDepartamento 
            plan = null
            departamentos.forEach(function(d,index){
            let departamento = d.codigo
            let directores = filterByRol(roles, rol, plan, departamento)
            r = directores.length > 0 ? directores[0] : {}
            %>
                <tr>
                <td title="<%=buscaDep(departamentos,departamento).nombre.toLowerCase()%> (<%=departamento%>)">
                <%=buscaDep2(d).nom%>
                </td>
                <td id="td_<%=rol%>_<%=index%>" onclick="mostrar('<%=rol%>_<%=index%>')">
                <form autocomplete="off" id="<%=rol%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
                <input type="hidden" name="rol" value="<%=rol%>_<%=plan%>_<%=departamento%>">
                <% let prof = buscaPers(profesores, r.PersonaId) %>
                <p id="p_<%=rol%>_<%=index%>"><%=prof.nombreCorregido%></p>
                <input id="<%=rol%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
                </form>
                </td>
                <td>
                <div id="buttons_<%=rol%>_<%=index%>" style="visibility:hidden">
                <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
                <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
                <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol%>_<%=index%>')">Eliminar</button>
                <div>
                </td>
                </tr>
            <%let rol2 = rolesEnum.DirectorDepartamentoX2 
            let delegado = filterByRol(roles, rol2, plan, departamento)
            if (delegado.length === 0) prof = buscaPers(profesores, null)
            else prof = buscaPers(profesores, delegado[0].PersonaId);
            %>
            <tr>
            <td style="border: 0; padding-left:5em">
            <em>Delegado en<em>
            </td>
            <td id="td_<%=rol2%>_<%=index%>" onclick="mostrar('<%=rol2%>_<%=index%>')" >
            <form autocomplete="off" id="<%=rol2%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
            <input type="hidden" name="rol" value="<%=rol2%>_<%=plan%>_<%=departamento%>">
            <p id="p_<%=rol2%>_<%=index%>"><%=prof.nombreCorregido%></p>
            <input id="<%=rol2%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
            </form>
            </td>
            <td>
            <div id="buttons_<%=rol2%>_<%=index%>" style="visibility:hidden">
            <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol2%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
            <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
            <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol2%>_<%=index%>')">Eliminar</button>
            <div>
            </td>
            </tr>
            <%})%>
            <tr id="foco">
            <td></td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            </tr>
        </tbody>
    </table>
    <h3 style="display:inline;"><em>Roles específicos de titulación</em></h3>
    <select id="selectCoordinador" onChange="cambiarPDCoordinador()" >
        <% for(let i=0; i < planEstudios.length; i++) { 
            if (planEstudios[i].nombre !== null && (planID !== planEstudios[i].codigo)){ %>
        <option id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].nombre%></option>
            <% }else if (planEstudios[i].nombre !== null && (planID === planEstudios[i].codigo)){ %>
        <option id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)" selected><%=planEstudios[i].nombre%></option>  
            <%}else if (planEstudios[i].nombre === null && (planID !== planEstudios[i].codigo)) {%>
        <option  id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>" title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"><%=planEstudios[i].codigo%></option>
        <%}else{%>
        <option  id="<%=planEstudios[i].codigo%>" value="<%=planEstudios[i].codigo%>"  title="<%=planEstudios[i].nombreCompleto%> (<%=planEstudios[i].codigo%>)"selected><%=planEstudios[i].codigo%></option>
            <%}
        }%>
    </select>
    <table class="table">          
        <tbody id='body_tb_departamentos'>
            <% 
            rol = rolesEnum.CoordinadorTitulacion
            departamento = null
            plan = planID
            rols = filterByRol(roles, rol, plan, departamento)
            r = rols.length > 0 ? rols[0] : {}
            index = 0;
            %>
                <tr>
                <td>
                Coordinador Titulación
                </td>
                <td id="td_<%=rol%>_<%=index%>" onclick="mostrar('<%=rol%>_<%=index%>')">
                <form autocomplete="off" id="<%=rol%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
                <input type="hidden" name="rol" value="<%=rol%>_<%=plan%>_<%=departamento%>">
                <%prof = buscaPers(profesores, r.PersonaId) %>
                <p id="p_<%=rol%>_<%=index%>"><%=prof.nombreCorregido%></p>
                <input id="<%=rol%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
                </form>
                </td>
                <td>
                <div id="buttons_<%=rol%>_<%=index%>" style="visibility:hidden">
                <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
                <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
                <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol%>_<%=index%>')">Eliminar</button>
                <div>
                </td>
                </tr>
            <%let rol2 = rolesEnum.CoordinadorTitulacionX2 
            delegado = filterByRol(roles, rol2, plan, departamento)
            if (delegado.length === 0) prof = buscaPers(profesores, null)
            else prof = buscaPers(profesores, delegado[0].PersonaId);
            %>
            <tr>
            <td style="border: 0; padding-left:5em">
            <em>Delegado en<em>
            </td>
            <td id="td_<%=rol2%>_<%=index%>" onclick="mostrar('<%=rol2%>_<%=index%>')" >
            <form autocomplete="off" id="<%=rol2%>_<%=plan%>_<%=departamento%>" action="<%=nuevopath%>" method="post">
            <input type="hidden" name="rol" value="<%=rol2%>_<%=plan%>_<%=departamento%>">
            <p id="p_<%=rol2%>_<%=index%>"><%=prof.nombreCorregido%></p>
            <input id="<%=rol2%>_<%=index%>" type="hidden" name="personaRol" value="<%=prof.nombreCorregido%>" placeholder="<%=prof.nombreCorregido%>" onchange="cambioRol(this)">
            </form>
            </td>
            <td>
            <div id="buttons_<%=rol2%>_<%=index%>" style="visibility:hidden">
            <button type="button"  class="btn btn-default" onclick="Guardar('<%=rol2%>_<%=plan%>_<%=departamento%>','<%=nuevopath%>')" disabled>Aceptar</button>
            <button type="button"  class="btn btn-default" onclick="Volver('<%=cancelarpath%>')">Cancelar</button>
            <button type="button"  class="btn btn-default" onclick="Eliminar('<%=rol2%>_<%=index%>')">Eliminar</button>
            <div>
            </td>
            </tr>       
            <tr>
            <td><u>Responsables Docentes</u></td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            </tr>
            <%
            rol = rolesEnum.ResponsableDocente
            departamento = null
            plan = planID
            <!--Si hay progdoc coge los departamentos responsables sino coge lo que haya en la bbdd-->
            if(progDoc){
                departamentosResponsables.forEach(function(d,index){
                departamento = d.codigo
                responsables = filterByRol(roles, rol, plan, departamento)
                r = responsables.length > 0 ? responsables[0] : {} %>
                <%- include ./rolesResponsableDocente.ejs %>
                <%})
            }else{
            responsables = filterByRol(roles, rol, plan, departamento) 
            responsables.forEach(function(r,index){ %>
                <% departamento = r.DepartamentoCodigo%>
                <%- include ./rolesResponsableDocente.ejs %>
            <%})
            }%>
        </tbody>
    </table>
</div> 
<%- include ../asignacionProfesores/nuevoProfesor.ejs %>
<%}%>
</div>
<script>


//solo deja cambiar un rol por cada petición por eso selected
let selected = false;
let profesores = <%- JSON.stringify(profesores) %>
let profesores2 = quitAcents(profesores)
//se utiliza para que al cambiar plan el foco vaya a donde estabas
let foco = <%- JSON.stringify(foco) %>
//este form se usa cuando anades un profesor al sistema
let form
function mostrar(id){
  let celda = document.getElementById("td_"+id);
  form = celda.children[0]
  let input = document.getElementById(id)
  let p = document.getElementById("p_"+id);
    if(!selected){
        //muestro los botones
        document.getElementById("buttons_"+id).style.visibility= "visible"
        //creo el div para encapsular la busqueda
        let div = document.createElement('div');
        div.innerHTML = '<div class="autocomplete col-sm-12"></div>'
        let nuevo = div.firstChild;
        form.appendChild(nuevo)
        nuevo.appendChild(input)
        form.removeChild(p);
        let nuevoValor = input.getAttribute('placeholder')
        if (input.getAttribute('value')){
        input.setAttribute('value', '' )
        }
        input.setAttribute('type', 'text')
        autocomplete(input, profesores, profesores2, 'tribunales');
        input.focus();
    }
    selected = true;
}


function Eliminar(id){
    document.getElementById(id).style.display = "none";
    document.getElementById(id).name = "eliminar";
    let celda = document.getElementById("td_"+id);
    let div = document.createElement('div');
    div.innerHTML = `<p id="p_${id}">No asignado</p>`
    let nuevo = div.firstChild;
    celda.appendChild(nuevo)
    //se habilita el boton de aceptar y el de cancelar y se deshabilita el de eliminar
    document.getElementById("buttons_"+id).children[0].disabled = false;
    document.getElementById("buttons_"+id).children[1].disabled = false;
    document.getElementById("buttons_"+id).children[2].disabled = true;
}

function cambioRol(input){
    let id = input.id
    if(input.value !== "otro"){
        //se habilita el boton de aceptar y el de cancelar y se deshabilita el de eliminar
        document.getElementById("buttons_"+id).children[0].disabled = false;
        document.getElementById("buttons_"+id).children[1].disabled = false;
        document.getElementById("buttons_"+id).children[2].disabled = true;
        let persona = input.value.split("_")[1]
        let rol = input.id.split("_")[0]
        input.value = persona
    }
}

function Guardar(formID, nuevopath){
    if(formID.split("_")[0] !== "JefeEstudios" || confirm("Seguro que quiere dejar su cargo de Jefe de Estudios, no podrá deshacer esta acción una vez aceptada")){
        let form2 = document.getElementById(formID);
        let pAcronimo = document.getElementById("selectCoordinador").value;
        form2.setAttribute('action', nuevopath+"?planID="+pAcronimo);
        form2.submit();
    }
}
function cambiarPDCoordinador(){
    let pAcronimo = document.getElementById("selectCoordinador").value;
    let search = parseQueryString();
    delete search.pdID;
    search.planID = pAcronimo;
    search.foco = true;
    let url = parseStringQuery(search);
    window.location.replace(url);
    
}

function Volver(cancelarpath){
    window.location.replace(cancelarpath);
}

$(function() {

    if (foco)window.scrollTo(0, document.getElementById('foco').offsetTop + 20);
});
    
</script>

