<%- include ../menus/gestion.ejs %>
<%- include ../../public/js/funciones.ejs %>
<div class ="contenido2">
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else if(locals.existe && locals.existe !== null){%>
  <p><%=existe%></p>
<%}else if(locals.permisoDenegado && locals.permisoDenegado !== null){%> 
  <p><%=permisoDenegado%></p>
<%}else{%>
        <form id="formulario" autocomplete="off" action="<%= nuevopath %>" method="post">
            <input type='hidden' name=pdID value='<%=pdID%>'>
            <% for (let i=0 ; i<grupos.length; i++){%>
                <div>
                    <h2>Curso <%= grupos[i].curso %></h2>
                    <% for (let j=0 ; j<grupos[i].semestres.length; j++){%>
                        <h3>Semestre <%= grupos[i].semestres[j].semestre %>
                        <button type="button" class="btn btn-default" onclick = "MostrarOcultar('table_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>')">
                        <span id ='button_table_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>'  class="glyphicon glyphicon-chevron-down"></span> 
                        </button>
                        </h3>
                        <div class="hidden" id="table_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>">
                            <table class="table" id="tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales">
                                <thead>
                                    <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Aula</th>
                                    <th scope="col">Capacidad Aula</th>
                                     <th scope="col">Itinerario</th>
                                    </tr>
                                </thead>
                                <tbody id='body_tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales'>
                                <% for (let k=0 ; k<grupos[i].semestres[j].grupos.length; k++){
                                    if(!grupos[i].semestres[j].grupos[k].nombre.toUpperCase().includes("OPT")){
                                    %>
                                        <input type="hidden" name='momentaneo' id='grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%=grupos[i].curso%>' value ='grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%=grupos[i].curso%>'>
                                        <tr>
                                            <td>
                                            <%=grupos[i].semestres[j].grupos[k].nombre%>
                                            </td>
                                            <td>
                                                <% let aula = "Indefinida"
                                                if (grupos[i].semestres[j].grupos[k].aula !== null && grupos[i].semestres[j].grupos[k].aula.trim() !== "") {
                                                aula = grupos[i].semestres[j].grupos[k].aula
                                                }%>
                                                <input type="text" value="<%=aula%>" placeholder="<%=aula%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_aula_<%=grupos[i].curso%>" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                            <td>
                                                <% let capacidad = "0"
                                                if (grupos[i].semestres[j].grupos[k].capacidad !== null) {
                                                    capacidad = grupos[i].semestres[j].grupos[k].capacidad
                                                }%>
                                                <input type="number" value="<%=capacidad%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_capacidad_<%=grupos[i].curso%>" min="0" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                            <td>
                                                <% let itinerario = "-"
                                                if (grupos[i].semestres[j].grupos[k].nombreItinerario !== null && grupos[i].semestres[j].grupos[k].nombreItinerario.trim() !== "") {
                                                itinerario = grupos[i].semestres[j].grupos[k].nombreItinerario
                                                }%>
                                                <input type="text" value="<%=itinerario%>" placeholder="<%=itinerario%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_nombreItinerario_<%=grupos[i].curso%>" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                        </tr>
                                <%}
                            }%>
                                 </tbody>
                                </table>
                                <table class="table" id="tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_optativas">
                                <thead>
                                    <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                     <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id='body_tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_optativas'>
                                <% for (let k=0 ; k<grupos[i].semestres[j].grupos.length; k++){
                                    if(grupos[i].semestres[j].grupos[k].nombre.toUpperCase().includes("OPT")){
                                    %>
                                        <input type="hidden" name='momentaneo' id='grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%=grupos[i].curso%>' value ='grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%=grupos[i].curso%>'>
                                        <tr>
                                            <td>
                                            <%=grupos[i].semestres[j].grupos[k].nombre%>
                                            </td>
                                            <td>
                                                <% let aula = "Indefinida"
                                                if (grupos[i].semestres[j].grupos[k].aula !== null && grupos[i].semestres[j].grupos[k].aula.trim() !== "") {
                                                aula = grupos[i].semestres[j].grupos[k].aula
                                                }%>
                                                <input type="text" value="<%=aula%>" placeholder="<%=aula%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_aula_<%=grupos[i].curso%>" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                            <td>
                                                <% let capacidad = "0"
                                                if (grupos[i].semestres[j].grupos[k].capacidad !== null) {
                                                    capacidad = grupos[i].semestres[j].grupos[k].capacidad
                                                }%>
                                                <input type="number" value="<%=capacidad%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_capacidad_<%=grupos[i].curso%>" min="0" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                            </td>
                                        <td>
                                            <% let itinerario = "-"
                                            if (grupos[i].semestres[j].grupos[k].nombreItinerario !== null && grupos[i].semestres[j].grupos[k].nombreItinerario.trim() !== "") {
                                            itinerario = grupos[i].semestres[j].grupos[k].nombreItinerario
                                            }%>
                                            <input type="text" value="<%=itinerario%>" placeholder="<%=itinerario%>" name="grupo_<%=grupos[i].semestres[j].grupos[k].nombre%>_nombreItinerario_<%=grupos[i].curso%>" onchange="MarcarChange('grupo_<%=grupos[i].semestres[j].grupos[k].grupoId%>_<%=grupos[i].semestres[j].grupos[k].nombre%>_<%= grupos[i].curso %>')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">
                                        </td>
                                        </tr>
                                <%}
                            }%>
                                 </tbody>
                                </table>
                                
                               
                            <button type="button" class="btn btn-default" onclick = "Anadir('tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales')">Añadir grupo</button>
                            <button type="button" class="btn btn-default" onclick = "Eliminar('tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_normales')">Eliminar grupo</button>
                            <button type="button" class="btn btn-default" onclick = "Anadir('tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_optativas')">Añadir grupo de optativas</button>
                            <button type="button" class="btn btn-default" onclick = "Eliminar('tb_<%= grupos[i].curso %>_<%=grupos[i].semestres[j].semestre%>_optativas')">Eliminar grupo de optativas</button>
                        </div>
                    <%}%>
                </div>

            <%}%> 
        </form>
    <%}%>

</div>

<script>

//el multiselect del layout funciona con jquery
let estado = <%-JSON.stringify(estado)%>
let grupos = <%-JSON.stringify(grupos)%>;
let confirmarSalirSinGuardar = <%-confirmarSalirSinGuardar%>
//se utiliza para disparar el evento de onbeforeunload
let activado = true;

function MostrarOcultar(id){
    let divSemestre = document.getElementById(id);
    let buttonSpan = document.getElementById('button_'+id)
    let clases = divSemestre.className.split(" ");
    let oculto = clases.find(function (obj) { return obj === 'hidden'});
    //si estaba oculto debo quitarlo
    if (oculto){
        divSemestre.className = "";
        for (let i =0; i<clases.length; i++){
            if (clases[i] !== 'hidden'){
                divSemestre.className += " " +clases[i]
            }    
        }
        
        buttonSpan.className = "glyphicon glyphicon-chevron-up"
    }
    //debo ocultarlo
    else{
        divSemestre.className += " hidden"
        buttonSpan.className = "glyphicon glyphicon-chevron-down"

    }

}

/*añadir un grupo, miro si el grupo ya estaba en la bbdd y si estaba le pongo los valores. Si borro un grupo y lo vuelvo a añadir no se toca la BBDD
a menos que despues se modifique
*/
function Anadir(id){
    let curso = Number(id.split("_")[1]);
    let optativas = id.split("_")[3].toUpperCase().includes("OPTATIVAS")
    let semestre = Number(id.split("_")[2]);
    let cursoArray = grupos.find(function (obj) { return obj.curso === curso});
    let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
    let table = document.getElementById(id);
    let rowsLength = table.rows.length  
    let lastRow = table.rows[rowsLength-1]; //no cuento la ultima fila que es la del grupo de optativas
    let lastGrupo = optativas ? "Optativas0."+semestre : curso+"0."+semestre //grupo 10.1 por ejemplo que no existe el primero es el siguiente el 11.1
    //la primera fila es la de titulo de la tabla
    if (lastRow && rowsLength >= 2){
        lastGrupo = lastRow.cells[0].innerHTML.trim();
    }
    let row = table.insertRow(rowsLength);
    let cell0 = row.insertCell(0);
    let cell1 = row.insertCell(1);
    let cell2 = row.insertCell(2);
    let cell3 = row.insertCell(3);
    let newGrupoNumero;
    if(optativas){
        newGrupoNumero = "Optativas"+rowsLength;
    }else{
        newGrupoNumero = Number(lastGrupo.split(".")[0])+1;
    }
    let newGrupo = newGrupoNumero+"."+semestre
    cell0.innerHTML = newGrupo;
    let grupoExistente = semestreArray.grupos.find(function (obj) { return obj.nombre === newGrupo})
    if (grupoExistente){
        let capacidad = "0"
        let aula= "Indefinida"
        let itinerario = "-"
        if (grupoExistente.capacidad !== null) {
            capacidad =grupoExistente.capacidad
        }
        if (grupoExistente.aula !== null && grupoExistente.aula.trim() !== "") {
            aula =grupoExistente.aula
        }
         if (grupoExistente.nombreItinerario !== null && grupoExistente.nombreItinerario.trim() !== "") {
            itinerario =grupoExistente.nombreItinerario
        }

        let onChange = "grupo_"+grupoExistente.grupoId+"_"+grupoExistente.nombre+"_"+curso
        onChange = "'"+onChange+"'"
        cell1.innerHTML='<input type="text" placeholder="'+aula+'" name="grupo_'+newGrupo+'_aula_'+curso+'" onchange="MarcarChange(' + onChange +')"  onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        cell2.innerHTML='<input type="number" value="'+capacidad+'" name="grupo_'+newGrupo+'_capacidad_'+curso+'" min="0" onchange="MarcarChange(' + onChange + ')" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        cell3.innerHTML='<input type="text" placeholder="'+itinerario+'" name="grupo_'+newGrupo+'_nombreItinerario_'+curso+'" onchange="MarcarChange(' + onChange +')"  onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        let grupoInput = document.getElementById("grupo_"+grupoExistente.grupoId+"_"+grupoExistente.nombre+"_"+curso);
        grupoInput.name = 'momentaneo'
    }else{
        cell1.innerHTML='<input type="text" placeholder="Indefinida" name="grupo_'+newGrupo+'_aula_'+curso+'"  onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        cell2.innerHTML='<input type="number" value="0" name="grupo_'+newGrupo+'_capacidad_'+curso+'" min="0" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        cell3.innerHTML='<input type="text" placeholder="-" name="grupo_'+newGrupo+'_nombreItinerario_'+curso+'" onkeydown="if (event.keyCode == 13 || event.which == 13)  this.blur();">'
        let div = document.createElement('div');
        div.innerHTML = '<input type="hidden" name ="anadir" id="grupo_noID_'+newGrupo+'_'+curso+'" value="grupo_noID_'+newGrupo+'_'+curso+'">'
        let nuevo = div.firstChild;
        let tableBody = document.getElementById("body_"+id);
        tableBody.appendChild(nuevo);

    }


}



function Eliminar(id){
    let curso = Number(id.split("_")[1]);
    let semestre = Number(id.split("_")[2]);
    let cursoArray = grupos.find(function (obj) { return obj.curso === curso});
    let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
    let table = document.getElementById(id);
    let rowsLength = table.rows.length
    //como minimo 2 filas la que tiene los nombres de las columnas, y un grupo
    if (rowsLength >= 2){
        //el ultimo grupo es el de optativas
        let lastRow = table.rows[rowsLength-1];
    let lastGrupo = curso+"0."+semestre //grupo 10.1 por ejemplo que no existe el primero es el siguiente el 11.1
    if (lastRow){
        lastGrupo = lastRow.cells[0].innerHTML.trim();
        table.deleteRow(rowsLength-1);
    }
    let grupoExistente = semestreArray.grupos.find(function (obj) { return obj.nombre === lastGrupo})
    if (grupoExistente){
        //lo marco para eliminar
        let grupoInput = document.getElementById("grupo_"+grupoExistente.grupoId+"_"+grupoExistente.nombre+"_"+curso);
        grupoInput.name = 'eliminar'
    }else{
        //simplemente lo borro
        let grupoInput = document.getElementById("grupo_noID_"+lastGrupo+"_"+curso);
        let parent = grupoInput.parentNode;
        parent.removeChild(grupoInput);

        }
    }
}

//marcar los cambios si vuelve a la situacion inicial no lo marca
function MarcarChange(id){
    let nombreGrupo = id.split("_")[2]
    let curso = Number(id.split("_")[3])
    let semestre = Number(id.split("_")[2].split(".")[1])
    let cursoArray = grupos.find(function (obj) { return obj.curso === curso});
    let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
    let grupoExistente = semestreArray.grupos.find(function (obj) { return obj.nombre === nombreGrupo})
    let aula = document.getElementsByName("grupo_"+nombreGrupo+"_aula_"+curso)[0].value;
    let capacidad = Number(document.getElementsByName("grupo_"+nombreGrupo+"_capacidad_"+curso)[0].value);
    let itinerario =document.getElementsByName("grupo_"+nombreGrupo+"_nombreItinerario_"+curso)[0].value;
    let ident = "grupo_"+grupoExistente.grupoId+"_"+nombreGrupo+"_"+curso
    let inputElement = document.getElementById(ident);
    if(aula.trim() === ""){
        aula = document.getElementsByName("grupo_"+nombreGrupo+"_aula_"+curso)[0].placeholder === 'Indefinida' ? null : document.getElementsByName("grupo_"+nombreGrupo+"_aula_"+curso)[0].placeholder;
    }
    if(itinerario.trim() === ""){
        itinerario = document.getElementsByName("grupo_"+nombreGrupo+"_nombreItinerario_"+curso)[0].placeholder === '-' ? null : document.getElementsByName("grupo_"+nombreGrupo+"_nombreItinerario_"+curso)[0].placeholder;
    }
    if(capacidad !== grupoExistente.capacidad || aula !== grupoExistente.aula || itinerario !== grupoExistente.itinerario){
        inputElement.name = 'actualizar'
    }else{
        inputElement.name = 'momentaneo'
    }
}

function Guardar(nuevopath){
    activado = false;
    if (confirm("Si crea/elimina grupos puede verse afectada la programación docente actual, ¿está seguro de guardar los cambios?")){
        let form2 = document.getElementById("formulario");
        form2.setAttribute('action', nuevopath);
        form2.submit();
    }else{
        activado = true
        return false;
    }
}

function Volver(cancelarpath){
  window.location.replace(cancelarpath);
}

window.onbeforeunload = function(){
  //primero debes mirar que activado sea true o false (en confirmarSalirSinGuarar y despues marcarlo como true) 
  let confirma = confirmarSalirSinGuardar(["actualizar", "anadir", "eliminar"], activado)
  activado = true
   //debo reinicializar esto por si le da a seguir en la página
  document.getElementById('selectPlan') ? document.getElementById('selectPlan').value = selectPlanValue : null;
  document.getElementById('selectDepartamento') ? document.getElementById('selectDepartamento').value = selectDepartamentoValue : null;
  return confirma;
}
</script>